Repository ss14-harmony/ss14-harmony, pull requests merged in 2024-12, with the labels that each got.

#222 Remove Stray Pixel from Warden Jumpsuit
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/warden_blue.rsi/equipped-INNERCLOTHING.png
Labels: Changes: No C#, Changes: Sprites, S: Needs Review

#217 Cat Ears and Tail Support for Humans
  Resources/Prototypes/Species/human.yml
Labels: Changes: No C#, S: Awaiting Changes, S: Awaiting Admin Input

#211 Changelog20241125
  Resources/Changelog/Harmony.yml
Labels: Changes: No C#, Maintenance

#226 Space Law Revision
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLCrimeList.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
Labels: Changes: No C#, S: Needs Review

#227 Changelog20241205
  Resources/Changelog/Harmony.yml
Labels: Changes: No C#, S: Needs Review

#224 Requested Captain Clothing
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Harmony/Recipes/Lathes/clothing.yml
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_captain.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_captain.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_captain.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_captain.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_captain.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/captain_hawaiian.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/captain_hawaiian.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/captain_hawaiian.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/captain_hawaiian.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/captain_hawaiian.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review

#233 Prison Wardrobe Tweaks
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
Labels: Changes: No C#, S: Appoved by Maintainer

#229 Adding more ways to obtain rubber duckies
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
Labels: Changes: No C#, S: Appoved by Maintainer

#231 New HoP Sprites and new HoP clothes
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Harmony/Loadouts/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/_Harmony/Recipes/Lathes/clothing.yml
  Resources/Textures/_Harmony/Clothing/Hands/Gloves/hop.rsi/equipped-HAND.png
  Resources/Textures/_Harmony/Clothing/Hands/Gloves/hop.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Hands/Gloves/hop.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Hands/Gloves/hop.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Hands/Gloves/hop.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Head/Hats/hopcap.rsi/equipped-HELMET-hamster.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/hopcap.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/hopcap.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/hopcap.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/hopcap.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/hopcap.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/hop.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/hop.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/hop.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/hop.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/hop.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/hopmesskit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/hopmesskit.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/hopmesskit.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/hopmesskit.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/hopmesskit.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hop.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hop.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hop.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hop.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hop.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hopmesskit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hopmesskit.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hopmesskit.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hopmesskit.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hopmesskit.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Appoved by Maintainer

#234 vox mask pack 1
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_Harmony/Loadouts/Miscellaneous/survival.yml
  Resources/Textures/_Harmony/Clothing/Mask/NTenforcer.rsi/equipped-MASK-vox.png
  Resources/Textures/_Harmony/Clothing/Mask/NTenforcer.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Mask/NTenforcer.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Mask/specvoxmask.rsi/equipped-MASK-vox.png
  Resources/Textures/_Harmony/Clothing/Mask/specvoxmask.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Mask/specvoxmask.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review

#228 Feature/smugglers satchel
  Resources/Locale/en-US/_Harmony/store/uplink-catalog.ftl
  Resources/Prototypes/_Harmony/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Back/satchel.yml
  Resources/Textures/_Harmony/Clothing/Back/Satchels/smuggler.rsi/equipped-BACKPACK.png
  Resources/Textures/_Harmony/Clothing/Back/Satchels/smuggler.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Back/Satchels/smuggler.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Back/Satchels/smuggler.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Back/Satchels/smuggler.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Appoved by Maintainer

#230 Changelog20241208
  Resources/Changelog/Harmony.yml
Labels: Changes: No C#, Maintenance

#237 Barratry Update (Holopads & Engi)
  Resources/Maps/_Harmony/barratry.yml
Labels: Changes: No C#, Changes: Map

#232 Port DeltaV syndicate objective "teach a lesson"
  Content.Server/_DeltaV/Objectives/Components/TeachLessonConditionComponent.cs
  Content.Server/_DeltaV/Objectives/Systems/TeachLessonConditionSystem.cs
  Resources/Locale/en-US/_DeltaV/Objectives/Conditions/teach-person.ftl
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/_DeltaV/Objectives/traitor.yml
Labels: S: Awaiting Admin Input, S: Appoved by Maintainer

#248 Added Smugglers Satchel to Smugglers kit
  Resources/Locale/en-US/thief/backpack.ftl
  Resources/Prototypes/Catalog/thief_toolbox_sets.yml
Labels: Changes: No C#, S: Needs Review, S: Approved by Admin Team

#249 ChemLab Visiting Shuttle
  Resources/Maps/_Harmony/Shuttles/ShuttleEvent/chemlab.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/_Harmony/GameRules/unknown_shuttles.yml
  Resources/Prototypes/_Harmony/Shuttles/shuttle_incoming_event.yml
Labels: Changes: No C#, Changes: Map, S: Appoved by Maintainer

#240 Added Poqutio
  Resources/Locale/en-US/_Harmony/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/_Harmony/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_Harmony/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Harmony/Palettes/critters.yml
  Resources/Prototypes/_Harmony/Roles/Jobs/Fun/misc_startinggear.yml
Labels: Changes: No C#, S: Appoved by Maintainer, S: Approved by Admin Team

#246 Changelog20241225
  Resources/Changelog/Harmony.yml
Labels: Changes: No C#, Maintenance

#250 New Syndicate Reinforcement Shuttle + Remove Instigator
  Resources/Maps/_Harmony/Shuttles/ShuttleEvent/syndicatereinforcement.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/_Harmony/GameRules/unknown_shuttles.yml
  Resources/Prototypes/_Harmony/Shuttles/shuttle_incoming_event.yml
Labels: Changes: No C#, Changes: Map, S: Appoved by Maintainer

#261 Improvised Bola Recoloration
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
  Resources/Textures/_Harmony/Objects/Weapons/Throwable/bola.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Throwable/bola.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review

#251 CC Gear Presets
  Resources/Prototypes/_Harmony/Roles/Jobs/CentComm/official.yml
Labels: Changes: No C#, S: Needs Review, S: Approved by Admin Team

#253 ERT GameRules for Admins
  Resources/Locale/en-US/_Harmony/station-events/events/ert-shuttles.ftl
  Resources/Maps/_Harmony/Shuttles/ShuttleEvent/ERTEngiJaniMedium.yml
  Resources/Maps/_Harmony/Shuttles/ShuttleEvent/ERTEngiSmall.yml
  Resources/Maps/_Harmony/Shuttles/ShuttleEvent/ERTJaniSmall.yml
  Resources/Maps/_Harmony/Shuttles/ShuttleEvent/ERTMedMedium.yml
  Resources/Maps/_Harmony/Shuttles/ShuttleEvent/ERTMedSecLarge.yml
  Resources/Maps/_Harmony/Shuttles/ShuttleEvent/ERTMedSmall.yml
  Resources/Maps/_Harmony/Shuttles/ShuttleEvent/ERTSecMedium.yml
  Resources/Maps/_Harmony/Shuttles/ShuttleEvent/ERTSecSmall.yml
  Resources/Prototypes/_Harmony/GameRules/ert_shuttles.yml
  Resources/Prototypes/_Harmony/GameRules/unknown_shuttles.yml
  Resources/Prototypes/_Harmony/Shuttles/shuttle_incoming_event.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Approved by Admin Team
