Repository ss14-harmony/ss14-harmony, pull requests merged in 2024-10, with the labels that each got.

#90 Unnerf the Frezon price
  Resources/Prototypes/Atmospherics/gases.yml
Labels: No C#

#102 Changelog20241003
  Resources/Changelog/Harmony.yml
Labels: No C#, Status: Needs Review

#103 Packed Update Test
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/packed-2.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/packed-2.yml
Labels: No C#, Changes: Map, Status: Needs Review

#104 Add HoP Turtleneck and Change HoP Loadout
  Resources/Locale/en-US/_Harmony/preferences/loadout-groups.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Harmony/Loadouts/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/_Harmony/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Harmony/Recipes/Lathes/clothing.yml
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hop_turtle.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hop_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hop_turtle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hop_turtle.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hop_turtle.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hop_turtle.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#105 Changelog20241004
  Resources/Changelog/Harmony.yml
Labels: No C#

#106 Make red phone an Intercom with CentCom channel
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_misc.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Devices/red_phone.yml
Labels: No C#, Status: Needs Review

#95 Uplink item: Syndicate ID card
  Resources/Locale/en-US/_Harmony/store/uplink-catalog.ftl
  Resources/Prototypes/_Harmony/Catalog/uplink_catalog.yml
Labels: No C#, Status: Needs Review

#108 Add HoP Turtleneck With Skirt
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_Harmony/Loadouts/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/_Harmony/Recipes/Lathes/clothing.yml
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/hop_turtle.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/hop_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/hop_turtle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/hop_turtle.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/hop_turtle.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/hop_turtle.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#109 Adding Captain Armored Winter Coat
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_Harmony/Loadouts/Jobs/Command/captain.yml
  Resources/Textures/_Harmony/Clothing/Head/Hoods/Coat/hoodcaptainarmored.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Hoods/Coat/hoodcaptainarmored.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hoods/Coat/hoodcaptainarmored.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/OuterClothing/WinterCoats/coatcaparmored.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/WinterCoats/coatcaparmored.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/WinterCoats/coatcaparmored.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/WinterCoats/coatcaparmored.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/WinterCoats/coatcaparmored.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/WinterCoats/coatcaparmored.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#110 Add Harmonica to Loadouts
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: No C#, Status: Needs Review

#107 Changelog20241006
  Resources/Changelog/Harmony.yml
Labels: No C#, Status: Needs Review

#112 Packed Update
  Resources/Maps/packed-2.yml
Labels: No C#, Changes: Map, Status: Needs Review

#114 Harmony Logo
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-64x64.png
  Resources/Textures/Logo/logo.png
  Resources/Textures/Logo/logo.svg
Labels: No C#, Status: Needs Review

#115 Added custom end of round voice lines clipped from Lilten videos.
  Resources/Audio/_Harmony/Announcements/RoundEnd/attributions.yml
  Resources/Audio/_Harmony/Announcements/RoundEnd/chickens.ogg
  Resources/Audio/_Harmony/Announcements/RoundEnd/freesteel.ogg
  Resources/Audio/_Harmony/Announcements/RoundEnd/tortilla.ogg
  Resources/Audio/_Harmony/Announcements/RoundEnd/unacceptable.ogg
  Resources/Prototypes/SoundCollections/announcements.yml
Labels: No C#

#116 Harmony Window Name
  Resources/manifest.yml
Labels: No C#

#118 Add Syndicate Diplomacy ship for Admin spawning.
  Resources/Maps/_Harmony/Shuttles/syndicate-diplomacy.yml
Labels: No C#, Changes: Map, Status: Needs Review

#121 Role timer fixes for lawyer, mime, bartender, chef, and technical assistant
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
Labels: No C#, Status: Needs Review

#120 Addition of four more posters
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_Harmony/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/_Harmony/Structures/Wallmounts/posters.rsi/harmony_poster16_legit.png
  Resources/Textures/_Harmony/Structures/Wallmounts/posters.rsi/harmony_poster17_legit.png
  Resources/Textures/_Harmony/Structures/Wallmounts/posters.rsi/harmony_poster18_legit.png
  Resources/Textures/_Harmony/Structures/Wallmounts/posters.rsi/harmony_poster19_legit.png
  Resources/Textures/_Harmony/Structures/Wallmounts/posters.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#123 Add Barratry
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/barratry.yml
  Resources/Prototypes/Maps/barratry.yml
Labels: Changes: Map, Status: Needs Review

#122 Packed Update
  Resources/Maps/packed-2.yml
Labels: No C#, Changes: Map

#126 Changelog update 17102024
  Resources/Changelog/Harmony.yml
Labels: No C#, Status: Needs Review

#124 Minor rule change and clarification
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyR6.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyS4.xml
Labels: No C#

#129 Added labeler to nukie outpost
  Resources/Maps/Nonstations/nukieplanet.yml
Labels: No C#, Changes: Map

#132 Xeno Beta v.1.3.3
  Resources/Maps/_Harmony/Shuttles/emergency_xeno.yml
  Resources/Maps/_Harmony/xeno.yml
  Resources/Prototypes/_Harmony/Maps/xeno.yml
  Resources/Prototypes/_Harmony/Parallaxes/xeno.yml
  Resources/Textures/_Harmony/Parallaxes/XenoParallaxNeb.png
  Resources/Textures/_Harmony/Parallaxes/space_map3.png
Labels: No C#, Changes: Map

#130 Anti EORG measures (round end pacifist mode)
  Content.Server/_Harmony/RoundEnd/RoundEndSystem.Pacified.cs
  Content.Shared/_Harmony/CCVars/HCCVars.cs
Labels: Status: Needs Review

#133 Fix Rat King Solo Antag popup
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
Labels: No C#, Status: Needs Review

#131 Revert "Add No EORG popup on round end"
  Content.Client/_Harmony/RoundEnd/RoundEndNoEorgUIController.cs
  Content.Client/_Harmony/RoundEnd/RoundEndNoEorgWindow.cs
  Content.Shared/_Harmony/CCVars/HCCVars.cs
  Resources/Locale/en-US/_Harmony/round-end/round-end-no-eorg-window.ftl
Labels: Status: Needs Review

#135 Remove Packed2
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/packed-2.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/packed-2.yml
Labels: Changes: Map, Status: Needs Review

#134 Changelog22102024
  Resources/Changelog/Harmony.yml
Labels: No C#, Status: Needs Review

#138 Adding a Syndicate Paramedic Shuttle
  Resources/Maps/_Harmony/Shuttles/syndicate-paramedic.yml
Labels: No C#, Changes: Map, Status: Needs Review

#111 Add basic raiders
  Resources/Prototypes/_Harmony/Entities/Clothing/Belt/quivers.yml
  Resources/Prototypes/_Harmony/Entities/Mobs/raiders.yml
  Resources/Prototypes/_Harmony/Loadouts/Misc/rimworld.yml
Labels: No C#, Status: Needs Review

#142 Upstream20241027
  Content.Client/Atmos/Consoles/AtmosAlertsComputerWindow.xaml.cs
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/EntityEffects/Effects/FlashReactionEffect.cs
  Content.Server/Medical/CryoPodSystem.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Server/Nutrition/EntitySystems/CreamPieSystem.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/MedicalScanner/HealthAnalyzerScannedUserMessage.cs
  Resources/Changelog/Changelog.yml
  Resources/Credits/GitHub.txt
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Locale/en-US/medical/components/health-analyzer-component.ftl
  Resources/Maps/Test/dev_map.yml
  Resources/Prototypes/Datasets/Names/last.yml
  Resources/Prototypes/Entities/Effects/chemistry_effects.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/bowl.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/miners.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/Shuttles/shuttle_incoming_event.yml
Labels: Changes: Map, Changes: UI

#141 Two new posters
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_Harmony/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/_Harmony/Structures/Wallmounts/posters.rsi/harmony_poster20_legit.png
  Resources/Textures/_Harmony/Structures/Wallmounts/posters.rsi/harmony_poster21_legit.png
  Resources/Textures/_Harmony/Structures/Wallmounts/posters.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#143 Changelog20241027
  Resources/Changelog/Harmony.yml
Labels: No C#, Status: Needs Review

#144 ss14 decal replacement
  Resources/Prototypes/Decals/ss14sign.yml
  Resources/Prototypes/_Harmony/Decals/ss14sign.yml
  Resources/Textures/_Harmony/Decals/ss14sign.rsi/meta.json
  Resources/Textures/_Harmony/Decals/ss14sign.rsi/ss14sign1.png
  Resources/Textures/_Harmony/Decals/ss14sign.rsi/ss14sign2.png
  Resources/Textures/_Harmony/Decals/ss14sign.rsi/ss14sign3.png
  Resources/Textures/_Harmony/Decals/ss14sign.rsi/ss14sign4.png
  Resources/Textures/_Harmony/Decals/ss14sign.rsi/ss14sign5.png
  Resources/Textures/_Harmony/Decals/ss14sign.rsi/ss14sign6.png
  Resources/Textures/_Harmony/Decals/ss14sign.rsi/ss14sign7.png
Labels: No C#, Changes: Sprites

#127 Added DM01 Entryway and deathmatch PROMOD preset
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Locale/en-US/_Harmony/game-ticking/game-presets/preset-deathmatchpromod.ftl
  Resources/Maps/_Harmony/Nonstations/dm01-entryway.yml
  Resources/Prototypes/_Harmony/GameRules/roundstart.yml
  Resources/Prototypes/_Harmony/Maps/Pools/deathmatch.yml
  Resources/Prototypes/_Harmony/Maps/arenas.yml
  Resources/Prototypes/_Harmony/game_presets.yml
Labels: No C#, Changes: Map, Status: Needs Review

#145 Changelog30102024
  Resources/Changelog/Harmony.yml
Labels: No C#

#148 CODEOWNERS change
  .github/CODEOWNERS
Labels: No C#

#146 Relicense future content under APGLv3 and update README
  LEGAL.md
  LICENSE-AGPLv3.txt
  LICENSE-MIT.txt
  README.md
Labels: No C#
