Repository ss14-harmony/ss14-harmony, pull requests merged in 2024-11, with the labels that each got.

#150 Xeno Beta 1.3.4
  Resources/Maps/_Harmony/xeno.yml
  Resources/Prototypes/_Harmony/Maps/xeno.yml
Labels: No C#, Changes: Map, Status: Needs Review

#154 Barratry Update (w/ add to rotation)
  Resources/Maps/_Harmony/barratry.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Harmony/Maps/barratry.yml
Labels: No C#, Changes: Map

#158 Barratry Hotfix
  Resources/Maps/_Harmony/barratry.yml
Labels: No C#, Changes: Map, Status: Needs Review

#155 Changelog20241104
  Resources/Changelog/Harmony.yml
Labels: No C#, Status: Needs Review

#156 Reenable Diff RSIs github action
  .github/workflows/rsi-diff.yml
Labels: No C#, Status: Needs Review

#157 Cargo QoL: Add dropdown with list of crew members to order menu
  Content.Client/Cargo/BUI/CargoOrderConsoleBoundUserInterface.cs
  Content.Client/Cargo/UI/CargoConsoleOrderMenu.xaml
  Content.Client/Cargo/UI/CargoConsoleOrderMenu.xaml.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Shared/Cargo/BUI/CargoConsoleInterfaceState.cs
  Resources/Locale/en-US/_Harmony/cargo/cargo-console-order-component.ftl
Labels: Changes: UI, Status: Needs Review

#151 Add Harmony maps to CODEOWNERS
  .github/CODEOWNERS
Labels: No C#

#149 Add Raised by [species] and Voice of [species] character traits
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Traits/TraitPrototype.cs
  Resources/Locale/en-US/_Harmony/traits/traits.ftl
  Resources/Prototypes/_Harmony/Traits/speech.yml
Labels: Status: Needs Review

#153 Maints Slasher lobby art
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/maints-slasher.webp
  Resources/Textures/LobbyScreens/maints-slasher.webp.yml
Labels: No C#

#159 Add ERT Role Timers
  Resources/Prototypes/_Harmony/Entities/Mobs/Player/humanoid.yml
Labels: No C#, Status: Needs Review

#152 Add Hypophonia (soft speech, whisper only) trait
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_Harmony/Speech/Hypophonia/HypophoniaSystem.cs
  Content.Shared/ActionBlocker/ActionBlockerSystem.cs
  Content.Shared/Speech/SpeakAttemptEvent.cs
  Content.Shared/_Harmony/Hypophonia/HypophoniaComponent.cs
  Resources/Locale/en-US/_Harmony/speech/speech-effects.ftl
  Resources/Locale/en-US/_Harmony/traits/traits.ftl
  Resources/Prototypes/_Harmony/Traits/disabilities.yml
Labels: Status: Needs Review

#160 Changelog20241104 Part 2
  Resources/Changelog/Harmony.yml
Labels: No C#, Status: Needs Review

#162 Barratry Update (w/ custom cargo shuttle) Take 2
  Resources/Maps/_Harmony/Shuttles/cargo_barratry.yml
  Resources/Maps/_Harmony/barratry.yml
  Resources/Prototypes/_Harmony/Maps/barratry.yml
Labels: No C#, Changes: Map, Status: Needs Review

#164 Barratry Update (medbay)
  Resources/Maps/_Harmony/Shuttles/emergency_pioneer.yml
  Resources/Maps/_Harmony/barratry.yml
  Resources/Prototypes/_Harmony/Maps/barratry.yml
Labels: No C#, Changes: Map

#163 Rules Update
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyR1.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyR2.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyR3.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyR4.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyR5.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyR6.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyR7.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyR8.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyRules.xml
Labels: No C#, Status: Needs Review

#165 Changelog20241107
  Resources/Changelog/Harmony.yml
Labels: No C#, Status: Needs Review

#173 CODEOWNERS: add DieselMohawk
  .github/CODEOWNERS
Labels: No C#, Status: Needs Review

#172 Bluesec Updates/Changes
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Harmony/Loadouts/Jobs/Command/head_of_security.yml
  Resources/Prototypes/_Harmony/Loadouts/Jobs/Security/security_officer.yml
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hos_blue.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hos_blue.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hos_blue.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hos_blue.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hos_blue.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hos_blue.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/security_blue.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/security_blue.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/security_blue.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/security_blue.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/security_blue.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/security_blue.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#167 Added a new lobbyscreen
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/survivalharmony.webp
  Resources/Textures/LobbyScreens/survivalharmony.webp.yml
Labels: No C#, Status: Needs Review

#169 Sort the crew members in the cargo order crew dropdown by name
  Content.Client/Cargo/UI/CargoConsoleOrderMenu.xaml.cs
Labels: Changes: UI, Status: Needs Review

#171 Janitorial toolbox
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/_Harmony/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Tools/toolbox.yml
  Resources/Textures/_Harmony/Objects/Tools/Toolboxes/toolbox_purple.rsi/icon-open.png
  Resources/Textures/_Harmony/Objects/Tools/Toolboxes/toolbox_purple.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Tools/Toolboxes/toolbox_purple.rsi/inhand-left.png
  Resources/Textures/_Harmony/Objects/Tools/Toolboxes/toolbox_purple.rsi/inhand-right.png
  Resources/Textures/_Harmony/Objects/Tools/Toolboxes/toolbox_purple.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#176 Return of the Sheriff Hat
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Harmony/Loadouts/Jobs/Command/head_of_security.yml
  Resources/Prototypes/_Harmony/Recipes/Lathes/clothing.yml
  Resources/Textures/_Harmony/Clothing/Head/Hats/hoswidebrimhat.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/hoswidebrimhat.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/hoswidebrimhat.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/hoswidebrimhat.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/hoswidebrimhat.rsi/meta.json
Labels: No C#, Changes: Sprites

#175 Changelog20241111
  Resources/Changelog/Harmony.yml
Labels: No C#, Status: Needs Review

#178 Upped volume and new post round audios added
  Resources/Audio/_Harmony/Announcements/RoundEnd/attributions.yml
  Resources/Audio/_Harmony/Announcements/RoundEnd/blame.ogg
  Resources/Audio/_Harmony/Announcements/RoundEnd/chickens.ogg
  Resources/Audio/_Harmony/Announcements/RoundEnd/freesteel.ogg
  Resources/Audio/_Harmony/Announcements/RoundEnd/throngle.ogg
  Resources/Audio/_Harmony/Announcements/RoundEnd/tortilla.ogg
  Resources/Audio/_Harmony/Announcements/RoundEnd/unacceptable.ogg
Labels: No C#

#182 Add New Lobby Track "Rusty Cans (Battle)"
  Resources/Audio/_Harmony/Lobby/attributions.yml
  Resources/Audio/_Harmony/Lobby/rustycansbattle.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: No C#

#181 Add CVar to disable suicide command and ghost instead
  Content.Server/Chat/SuicideSystem.cs
  Content.Shared/_Harmony/CCVars/HCCVars.cs
Labels: Status: Needs Review

#168 Ducky galoshes
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/_Harmony/Recipes/Construction/Graphs/clothing/ducky_galoshes.yml
  Resources/Prototypes/_Harmony/Recipes/Construction/clothing.yml
  Resources/Prototypes/_Harmony/tags.yml
  Resources/Textures/_Harmony/Clothing/Shoes/Misc/ducky-galoshes.rsi/equipped-FEET.png
  Resources/Textures/_Harmony/Clothing/Shoes/Misc/ducky-galoshes.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Shoes/Misc/ducky-galoshes.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Shoes/Misc/ducky-galoshes.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Shoes/Misc/ducky-galoshes.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#183 Gamer emotes
  Content.Client/_Harmony/Emotes/AnimatedEmotesSystem.cs
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/_Harmony/Emotes/AnimatedEmotesSystem.cs
  Content.Shared/Chat/Prototypes/EmotePrototype.cs
  Content.Shared/_Harmony/Emotes/AnimatedEmotesComponent.cs
  Content.Shared/_Harmony/Emotes/SharedAnimatedEmotesSystem.cs
  Resources/Locale/en-US/_Harmony/emotes.ftl
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/_Harmony/Actions/emotes.yml
Labels: Status: Needs Review

#180 Changelog20241113
  Resources/Changelog/Harmony.yml
Labels: No C#, Status: Needs Review

#170 Sec QoL: add additional wanted statuses
  Content.Client/CriminalRecords/CriminalRecordsConsoleWindow.xaml.cs
  Content.Server/CriminalRecords/Systems/CriminalRecordsConsoleSystem.cs
  Content.Shared/CriminalRecords/Systems/SharedCriminalRecordsSystem.cs
  Content.Shared/Security/SecurityStatus.cs
  Resources/Locale/en-US/_Harmony/criminal-records/criminal-records.ftl
  Resources/Locale/en-US/cartridge-loader/cartridges.ftl
  Resources/Prototypes/_Harmony/StatusIcon/security.yml
  Resources/Textures/_Harmony/Interface/Misc/security_icons.rsi/hud_monitor.png
  Resources/Textures/_Harmony/Interface/Misc/security_icons.rsi/hud_search.png
  Resources/Textures/_Harmony/Interface/Misc/security_icons.rsi/meta.json
Labels: Changes: Sprites, Changes: UI, Status: Needs Review

#184 Changes to animated emotes
  Content.Client/_Harmony/Emotes/AnimatedEmotesSystem.cs
  Content.Client/_Harmony/Emoting/AnimatedEmotesSystem.cs
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/_Harmony/Emoting/AnimatedEmotesSystem.cs
  Content.Shared/Chat/Prototypes/EmotePrototype.cs
  Content.Shared/_Harmony/Emoting/AnimatedEmotesComponent.cs
  Content.Shared/_Harmony/Emoting/SharedAnimatedEmotesSystem.cs
  Resources/Prototypes/_Harmony/Actions/emotes.yml
Labels: Status: Needs Review

#185 Changelog20241114
  Resources/Changelog/Harmony.yml
Labels: No C#, Status: Needs Review

#186 Captain's Turtleneck and skirt variant
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Harmony/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/_Harmony/Recipes/Lathes/clothing.yml
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/capturtleskirt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/capturtleskirt.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/capturtleskirt.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/capturtleskirt.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/capturtleskirt.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/capturtleneck.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/capturtleneck.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/capturtleneck.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/capturtleneck.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/capturtleneck.rsi/meta.json
Labels: No C#, Changes: Sprites

#188 Update guide book
  Resources/ServerInfo/Guidebook/Security/CriminalRecords.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLRestrictedList.xml
Labels: No C#, Status: Needs Review

#190 Unhide breathing mask loadout groups
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: No C#, Status: Needs Review

#187 Changelog20241116
  Resources/Changelog/Harmony.yml
Labels: No C#, Status: Needs Review

#191 Housekeeping: reloacate harmony trinkets
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/_Harmony/Loadouts/Miscellaneous/rimworld.yml
  Resources/Prototypes/_Harmony/Loadouts/Miscellaneous/trinkets.yml
Labels: No C#, Status: Needs Review

#193 Detective Spriting Update: Searching for Good Drip
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Textures/_Harmony/Clothing/Head/Hats/brownfedora.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/brownfedora.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/brownfedora.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/brownfedora.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/brownfedora.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Head/Hats/greyfedora.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/greyfedora.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/greyfedora.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/greyfedora.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/greyfedora.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/detective.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/detective.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/detective.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/detective.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/detective.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/detective.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/detective_grey.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/detective_grey.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/detective_grey.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/detective_grey.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/detective_grey.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/detective_grey.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#194 Holoparasite damage change.
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
Labels: No C#, Status: Needs Review

#192 Recycler EMAG Rework
  Content.Server/Materials/MaterialReclaimerSystem.cs
  Content.Shared/Materials/MaterialReclaimerComponent.cs
  Content.Shared/Materials/SharedMaterialReclaimerSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/recycler.yml
Labels: Status: Needs Review

#196 Changelog20241118
  Resources/Changelog/Harmony.yml
Labels: No C#

#202 Fix Custom Posters 16 & 17
  Resources/Textures/_Harmony/Structures/Wallmounts/posters.rsi/harmony_poster16_legit.png
  Resources/Textures/_Harmony/Structures/Wallmounts/posters.rsi/harmony_poster17_legit.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#203 Introduce Aspid to Harmony
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Harmony/aspid.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Harmony/Maps/aspid.yml
Labels: Changes: Map, Status: Needs Review

#201 Remove rods gibbing you
  Resources/Prototypes/Entities/Objects/Fun/immovable_rod.yml
Labels: No C#

#189 RSC rifle crate as cargo purchase
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Harmony/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_Harmony/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Harmony/Recipes/Lathes/security.yml
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Snipers/rsc-m1917.rsi/base.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Snipers/rsc-m1917.rsi/bolt-open.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Snipers/rsc-m1917.rsi/equipped-BACKPACK.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Snipers/rsc-m1917.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Snipers/rsc-m1917.rsi/inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Snipers/rsc-m1917.rsi/inhand-right.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Snipers/rsc-m1917.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Snipers/rsc-m1917.rsi/wielded-inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Snipers/rsc-m1917.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites, Status: Awaiting Admin Input

#207 Barratry Update
  Resources/Maps/_Harmony/barratry.yml
Labels: No C#, Changes: Map

#208 Fix for arbitrage test failure on RSC crate
  Resources/Prototypes/_Harmony/Catalog/Cargo/cargo_armory.yml
Labels: No C#

#205 Changelog20241120
  Resources/Changelog/Harmony.yml
Labels: No C#, Maintenance

#209 Update to RSC rifle and RSC rifle crate
  Resources/Audio/_Harmony/Weapons/Guns/MagIn/Clip Insertion.wav
  Resources/Audio/_Harmony/Weapons/Guns/MagIn/attributions.yml
  Resources/Audio/_Harmony/Weapons/Guns/MagOut/M1_Garand_Ping.wav
  Resources/Audio/_Harmony/Weapons/Guns/MagOut/attributions.yml
  Resources/Audio/_Harmony/Weapons/Guns/MagOut/garand-ping-rattle.wav
  Resources/Audio/_Harmony/Weapons/Guns/MagOut/garand-ping-short.wav
  Resources/Prototypes/_Harmony/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Textures/_Harmony/Structures/Storage/Crates/old_wooden_crate.rsi/base.png
  Resources/Textures/_Harmony/Structures/Storage/Crates/old_wooden_crate.rsi/closed.png
  Resources/Textures/_Harmony/Structures/Storage/Crates/old_wooden_crate.rsi/icon.png
  Resources/Textures/_Harmony/Structures/Storage/Crates/old_wooden_crate.rsi/locked.png
  Resources/Textures/_Harmony/Structures/Storage/Crates/old_wooden_crate.rsi/meta.json
  Resources/Textures/_Harmony/Structures/Storage/Crates/old_wooden_crate.rsi/open.png
  Resources/Textures/_Harmony/Structures/Storage/Crates/old_wooden_crate.rsi/unlocked.png
  Resources/Textures/_Harmony/Structures/Storage/Crates/old_wooden_crate.rsi/welded.png
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, S: Untriaged, size/M

#210 Blue Sec Update Two: Seclectric Bluegaloo
  Resources/Prototypes/Catalog/VendingMachines/Inventories/detdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Head/soft.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Harmony/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/_Harmony/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/_Harmony/Loadouts/Jobs/Security/warden.yml
  Resources/Prototypes/_Harmony/Recipes/Lathes/clothing.yml
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_security_blue.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_security_blue.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_security_blue.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_security_blue.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_security_blue.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Head/Hats/bluefedora.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/bluefedora.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/bluefedora.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/bluefedora.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/bluefedora.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Head/Soft/secbluesoft.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Soft/secbluesoft.rsi/flipped-equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Soft/secbluesoft.rsi/flipped-inhand-left.png
  Resources/Textures/_Harmony/Clothing/Head/Soft/secbluesoft.rsi/flipped-inhand-right.png
  Resources/Textures/_Harmony/Clothing/Head/Soft/secbluesoft.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Soft/secbluesoft.rsi/icon_flipped.png
  Resources/Textures/_Harmony/Clothing/Head/Soft/secbluesoft.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Head/Soft/secbluesoft.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Head/Soft/secbluesoft.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/detective_blue.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/detective_blue.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/detective_blue.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/detective_blue.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/detective_blue.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/detective_blue.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/det_blue.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/det_blue.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/det_blue.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/det_blue.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/det_blue.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/det_blue.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hos_blue.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/security_blue.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/warden_blue.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/warden_blue.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/warden_blue.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/warden_blue.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/warden_blue.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/warden_blue.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review

#214 Security roundstart disablers
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Changes: No C#, S: Needs Review

#219 Rebalanced stats for the security family of space suits
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: No C#, S: Awaiting Admin Input
