Repository ss14-harmony/ss14-harmony, pull requests merged in 2024-09, with the labels that each got.

#22 Keld reducetimers
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/Loadouts/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/passenger.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Loadouts/Jobs/Science/research_director.yml
  Resources/Prototypes/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
Labels: No C#

#23 Re-added the golden autism pin I accidentally blew away when messing …
  Resources/Prototypes/Harmony/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: No C#

#25 Adding two new shuttles to load in by spanky
  Resources/Maps/Harmony/Shuttles/genesis.yml
  Resources/Maps/Harmony/Shuttles/graniteflea.yml
Labels: No C#, Changes: Map

#28 Added more solid versions of the shuttles from feedback.
  Resources/Maps/Harmony/Shuttles/NT-Genesis.yml
  Resources/Maps/Harmony/Shuttles/NT-Graniteflea-CC.yml
  Resources/Maps/Harmony/Shuttles/NT-Graniteflea.yml
  Resources/Maps/Harmony/Shuttles/NT-Saviour.yml
  Resources/Maps/Harmony/Shuttles/NT-Torus.yml
Labels: No C#, Changes: Map

#30 Set role timers for sensitive roles to 3 hours and Captain 3 hours of…
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: No C#

#33 Midround antag weights
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#40 Starting fresh
  Content.Client/VendingMachines/UI/VendingMachineItem.xaml
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml
  Content.Server/Anomaly/Effects/TechAnomalySystem.cs
  Content.Server/Body/Components/BloodstreamComponent.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/EntityEffects/Effects/ActivateArtifact.cs
  Content.Server/Forensics/Systems/ForensicPadSystem.cs
  Content.Server/StationEvents/Components/BureaucraticErrorRuleComponent.cs
  Content.Server/StationEvents/Events/BureaucraticErrorRule.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.cs
  Content.Shared/Atmos/Rotting/PerishableComponent.cs
  Content.Shared/Atmos/Rotting/SharedRottingSystem.cs
  Content.Shared/Damage/Components/IgnoreSlowOnDamageComponent.cs
  Content.Shared/Damage/Systems/SlowOnDamageSystem.cs
  Content.Shared/Weapons/Ranged/Components/RechargeBasicEntityAmmoComponent.cs
  Content.Shared/Weapons/Ranged/Systems/RechargeBasicEntityAmmoSystem.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/alerts/alerts.ftl
  Resources/Locale/en-US/forensics/forensics.ftl
  Resources/Locale/en-US/guidebook/chemistry/statuseffects.ftl
  Resources/Locale/en-US/reagents/meta/chemicals.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/spawners.yml
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/Entities/Objects/Misc/treasure.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Structures/Decoration/banners.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Procedural/vgroid.yml
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Prototypes/Recipes/Lathes/sheet.yml
  Resources/Prototypes/status_effects.yml
  Resources/Textures/Mobs/Aliens/Asteroid/hivelord.rsi/hivelord.png
  Resources/Textures/Mobs/Aliens/Asteroid/hivelord.rsi/hivelord_alert.png
  Resources/Textures/Mobs/Aliens/Asteroid/hivelord.rsi/hivelord_alert_nocore.png
  Resources/Textures/Mobs/Aliens/Asteroid/hivelord.rsi/hivelord_dead.png
  Resources/Textures/Mobs/Aliens/Asteroid/hivelord.rsi/hivelord_dead_nocore.png
  Resources/Textures/Mobs/Aliens/Asteroid/hivelord.rsi/hivelord_nocore.png
  Resources/Textures/Mobs/Aliens/Asteroid/hivelord.rsi/hivelordbrood.png
  Resources/Textures/Mobs/Aliens/Asteroid/hivelord.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/rorocore.rsi/boiled.png
  Resources/Textures/Objects/Consumable/Food/rorocore.rsi/icon.png
  Resources/Textures/Objects/Consumable/Food/rorocore.rsi/meta.json
  Tools/actions_changelogs_since_last_run.py
Labels: Changes: Sprites, Changes: UI

#42 fixed missing line
  .gitmodules
Labels: No C#

#47 Added Additional ERT Shuttles
  Resources/Maps/Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Large-Base.yml
  Resources/Maps/Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Large-Med-Sec.yml
  Resources/Maps/Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Medium-Base.yml
  Resources/Maps/Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Medium-BasePlus.yml
  Resources/Maps/Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Medium-Eng-Jani.yml
  Resources/Maps/Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Medium-Med.yml
  Resources/Maps/Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Medium-Sec.yml
  Resources/Maps/Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Small-Base.yml
  Resources/Maps/Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Small-CBURN.yml
  Resources/Maps/Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Small-Deathsquad.yml
  Resources/Maps/Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Small-Eng.yml
  Resources/Maps/Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Small-Jani.yml
  Resources/Maps/Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Small-Med.yml
  Resources/Maps/Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Small-Sec.yml
Labels: No C#, Changes: Map

#43 Harmony Instructor Mantle
  Resources/Prototypes/Harmony/Entities/Clothing/Neck/mantles.yml
  Resources/Textures/Harmony/Clothing/Neck/Misc/instructormantle.rsi/equipped-NECK.png
  Resources/Textures/Harmony/Clothing/Neck/Misc/instructormantle.rsi/icon.png
  Resources/Textures/Harmony/Clothing/Neck/Misc/instructormantle.rsi/meta.json
Labels: No C#, Changes: Sprites

#48 Harmony Craftable lockable buttons and button frames
  Resources/Prototypes/Harmony/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/Harmony/Recipes/Construction/Graphs/machines/switching.yml
  Resources/Prototypes/Harmony/Recipes/Construction/machines.yml
Labels: No C#

#49 Add Deathsquad Shuttle (and rename others)
  Resources/Maps/Harmony/Shuttles/CC-transport-small.yml
  Resources/Maps/Harmony/Shuttles/ERT-chaplain-medium.yml
  Resources/Maps/Harmony/Shuttles/ERT-engineering-large.yml
  Resources/Maps/Harmony/Shuttles/ERT-janitor-small.yml
  Resources/Maps/Harmony/Shuttles/deathsquad-medium.yml
  Resources/Maps/Harmony/Shuttles/janitor-small.yml
  Resources/Maps/Harmony/Shuttles/transport-small.yml
Labels: No C#, Changes: Map

#51 Adjusts minimum population of several maps.
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
Labels: No C#, Changes: Map

#53 Add clipboard to Autolathe recipes
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Harmony/Recipes/Lathes/paper.yml
Labels: No C#

#55 Improvements to Omega station.
  Resources/Maps/omega-spanky.yml
  Resources/Prototypes/Maps/omega-spanky.yml
Labels: No C#, Changes: Map

#57 First Harmony posters and chance to spawn on maps via random legit poster spawner
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Harmony/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/harmony_poster1_legit.png
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/harmony_poster2_legit.png
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/meta.json
Labels: No C#, Changes: Sprites

#59 Adds A Man of Weh poster
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Harmony/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/harmony_poster3_legit.png
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/meta.json
Labels: No C#, Changes: Sprites

#60 Second round of Omega changes.
  Resources/Maps/Shuttles/emergency_omega_spanky.yml
  Resources/Maps/omega-spanky.yml
  Resources/Prototypes/Maps/omega-spanky.yml
Labels: No C#, Changes: Map

#61 Rat King Solo Antag Status
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
Labels: No C#

#63 Add "HarMoney", "Work Hard", and "Makeshift Clown Poster" community posters by Denetth and LevitatingTree
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Harmony/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/harmony_poster4_legit.png
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/harmony_poster5_legit.png
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/harmony_poster6_legit.png
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/meta.json
Labels: No C#, Changes: Sprites

#62 Latest Omega Updates
  Resources/Maps/omega-spanky.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/omega-spanky.yml
Labels: No C#, Changes: Map

#66 Fix integration tests
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Harmony/Shuttles/ERT-chaplain-medium.yml
  Resources/Maps/Harmony/Shuttles/ERT-janitor-small.yml
  Resources/Maps/Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Large-Med-Sec.yml
  Resources/Maps/Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Medium-Base.yml
  Resources/Maps/Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Medium-BasePlus.yml
  Resources/Maps/Harmony/Shuttles/deathsquad-medium.yml
  Resources/Maps/Harmony/Shuttles/janitor-small.yml
Labels: Changes: Map, Status: Needs Review

#69 Change "Work Hard" and "Makeshift Clown Poster" sprites and descriptions (by LevitatingTree)
  Resources/Prototypes/Harmony/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/harmony_poster5_legit.png
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/harmony_poster6_legit.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#64 Add "The Floodlight" community poster by sevount
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Harmony/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/harmony_poster7_legit.png
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/meta.json
Labels: No C#, Changes: Sprites

#65 new hud theme
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Harmony/hud.yml
  Resources/Prototypes/Harmony/themes.yml
  Resources/Textures/Harmony/Interface/HarmonyPurple/SlotBackground.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Slots/back.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Slots/belt.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Slots/ears.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Slots/glasses.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Slots/gloves.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Slots/hand_l.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Slots/hand_l_no_letter.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Slots/hand_r.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Slots/hand_r_no_letter.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Slots/head.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Slots/id.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Slots/mask.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Slots/neck.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Slots/pocket.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Slots/shoes.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Slots/suit.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Slots/suit_storage.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Slots/toggle.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Slots/uniform.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Slots/web.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Storage/piece_bottom.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Storage/piece_bottomLeft.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Storage/piece_bottomRight.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Storage/piece_center.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Storage/piece_left.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Storage/piece_right.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Storage/piece_top.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Storage/piece_topLeft.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Storage/piece_topRight.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Storage/sidebar_bottom.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Storage/sidebar_fat.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Storage/sidebar_mid.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/Storage/sidebar_top.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/item_status_left.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/item_status_left_highlight.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/item_status_right.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/item_status_right_highlight.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/slot_highlight.png
  Resources/Textures/Harmony/Interface/HarmonyPurple/template_small.png
Labels: No C#, Status: Needs Review

#71 Add 4 more posters by LevitatingTree
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Harmony/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/harmony_poster10_legit.png
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/harmony_poster11_legit.png
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/harmony_poster8_legit.png
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/harmony_poster9_legit.png
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#73 Add Drobe-available items to Loadouts -- red bandana for SecOff, brown bandana for CargoTech, noir coat for Det
  Resources/Prototypes/Harmony/Loadlouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Harmony/Loadlouts/loadout_groups.yml
  Resources/Prototypes/Harmony/Loadouts/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Harmony/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/Harmony/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: No C#, Status: Needs Review

#76 Cocktail set #1
  Resources/Locale/en-US/Harmony/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/en-US/Harmony/reagents/meta/consumable/drink/soda.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_glass.yml
  Resources/Prototypes/Harmony/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Harmony/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Harmony/Reagents/Consumable/Drink/soda.yml
  Resources/Prototypes/Harmony/Recipes/Reactions/drinks.yml
  Resources/Textures/Harmony/Objects/Consumable/Drinks/aviationcocktail.rsi/fill-1.png
  Resources/Textures/Harmony/Objects/Consumable/Drinks/aviationcocktail.rsi/fill-2.png
  Resources/Textures/Harmony/Objects/Consumable/Drinks/aviationcocktail.rsi/fill-3.png
  Resources/Textures/Harmony/Objects/Consumable/Drinks/aviationcocktail.rsi/fill-4.png
  Resources/Textures/Harmony/Objects/Consumable/Drinks/aviationcocktail.rsi/fill-5.png
  Resources/Textures/Harmony/Objects/Consumable/Drinks/aviationcocktail.rsi/icon.png
  Resources/Textures/Harmony/Objects/Consumable/Drinks/aviationcocktail.rsi/icon_empty.png
  Resources/Textures/Harmony/Objects/Consumable/Drinks/aviationcocktail.rsi/meta.json
  Resources/Textures/Harmony/Objects/Consumable/Drinks/espressomartiniglass.rsi/fill-1.png
  Resources/Textures/Harmony/Objects/Consumable/Drinks/espressomartiniglass.rsi/fill-2.png
  Resources/Textures/Harmony/Objects/Consumable/Drinks/espressomartiniglass.rsi/fill-3.png
  Resources/Textures/Harmony/Objects/Consumable/Drinks/espressomartiniglass.rsi/fill-4.png
  Resources/Textures/Harmony/Objects/Consumable/Drinks/espressomartiniglass.rsi/icon.png
  Resources/Textures/Harmony/Objects/Consumable/Drinks/espressomartiniglass.rsi/icon_empty.png
  Resources/Textures/Harmony/Objects/Consumable/Drinks/espressomartiniglass.rsi/meta.json
  Resources/Textures/Harmony/Objects/Consumable/Drinks/sunset-soda.rsi/fill-1.png
  Resources/Textures/Harmony/Objects/Consumable/Drinks/sunset-soda.rsi/fill-2.png
  Resources/Textures/Harmony/Objects/Consumable/Drinks/sunset-soda.rsi/fill-3.png
  Resources/Textures/Harmony/Objects/Consumable/Drinks/sunset-soda.rsi/fill-4.png
  Resources/Textures/Harmony/Objects/Consumable/Drinks/sunset-soda.rsi/fill-5.png
  Resources/Textures/Harmony/Objects/Consumable/Drinks/sunset-soda.rsi/fill-6.png
  Resources/Textures/Harmony/Objects/Consumable/Drinks/sunset-soda.rsi/icon.png
  Resources/Textures/Harmony/Objects/Consumable/Drinks/sunset-soda.rsi/icon_empty.png
  Resources/Textures/Harmony/Objects/Consumable/Drinks/sunset-soda.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#77 Add in-game Harmony changelog
  Resources/Changelog/Harmony.yml
  Resources/Locale/en-US/Harmony/changelog/changelog-window.ftl
Labels: No C#, Status: Needs Review

#79 Changelog update
  Resources/Changelog/Harmony.yml
Labels: No C#, Status: Needs Review

#80 Upstream9262024
  Content.Shared/Atmos/Atmospherics.cs
  Resources/Changelog/Changelog.yml
  Resources/Maps/Harmony/Shuttles/deathsquad-medium.yml
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
Labels: Changes: Map

#81 Change "Harmony" poster by Emii-olii
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/harmony_poster2_legit.png
Labels: No C#, Changes: Sprites

#83 Secret Nukies Gamemode
  Resources/Prototypes/Harmony/game_presets.yml
Labels: No C#

#82 Add 4 more posters by LevitatingTree
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Harmony/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/harmony_poster12_legit.png
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/harmony_poster13_legit.png
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/harmony_poster14_legit.png
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/harmony_poster15_legit.png
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/harmony_poster5_legit.png
  Resources/Textures/Harmony/Structures/Wallmounts/posters.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#85 Change in-game Space Law guidebooks to reflect Harmony Space Law
  Resources/Locale/en-US/Harmony/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLCrimeList.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLRestrictedList.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
Labels: No C#, Status: Needs Review

#87 Changelog20240927
  Resources/Changelog/Harmony.yml
Labels: No C#, Status: Needs Review

#89 Ingame server rules rework and update
  Resources/Locale/en-US/Harmony/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyR0.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyR1.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyR2.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyR3.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyR4.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyR5.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyR6.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyR7.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyR8.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyS1.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyS10.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyS2.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyS3.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyS4.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyS5.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyS6.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyS7.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyS8.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyS9.xml
Labels: No C#, Status: Needs Review

#91 Disable fuckrules command
  Resources/clientCommandPerms.yml
Labels: No C#, Status: Needs Review

#93 Syndicate Event Shuttles
  Resources/Maps/_Harmony/Shuttles/syndicate-dropship.yml
  Resources/Maps/_Harmony/Shuttles/syndicate-weapondealer.yml
Labels: No C#, Changes: Map, Status: Needs Review

#96 Add No EORG popup on round end
  Content.Client/_Harmony/RoundEnd/RoundEndNoEorgUIController.cs
  Content.Client/_Harmony/RoundEnd/RoundEndNoEorgWindow.cs
  Content.Shared/_Harmony/CCVars/HCCVars.cs
  Resources/Locale/en-US/_Harmony/round-end/round-end-no-eorg-window.ftl
Labels: Status: Needs Review

#97 Changelog update
  Resources/Changelog/Harmony.yml
Labels: No C#, Status: Needs Review

#94 Add DO NOT MAP suffix to craftable button frames and lockable button
  Resources/Prototypes/_Harmony/Entities/Structures/Wallmounts/switch.yml
Labels: No C#, Status: Needs Review
