Repository ss14-harmony/ss14-harmony, pull requests merged in 2025-03, with the labels that each got.

#413 Remove Loop from Rotation
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: No C#, Changes: Map

#422 removing harmony espresso martini
  Resources/Locale/en-US/_Harmony/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_glass.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_Harmony/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_Harmony/Recipes/Reactions/drinks.yml
  Resources/Textures/_Harmony/Objects/Consumable/Drinks/espressomartiniglass.rsi/fill-1.png
  Resources/Textures/_Harmony/Objects/Consumable/Drinks/espressomartiniglass.rsi/fill-2.png
  Resources/Textures/_Harmony/Objects/Consumable/Drinks/espressomartiniglass.rsi/fill-3.png
  Resources/Textures/_Harmony/Objects/Consumable/Drinks/espressomartiniglass.rsi/fill-4.png
  Resources/Textures/_Harmony/Objects/Consumable/Drinks/espressomartiniglass.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Consumable/Drinks/espressomartiniglass.rsi/icon_empty.png
  Resources/Textures/_Harmony/Objects/Consumable/Drinks/espressomartiniglass.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, S: MERGE with Upstream

#426 Update Implanter Space Law
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
Labels: Changes: No C#, S: Needs Review

#382 Wearable Lanyard Item
  Content.Server/Labels/Label/LabelSystem.cs
  Content.Shared/Examine/ExamineSystemShared.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Resources/Locale/en-US/_Harmony/label/paper-label-component.ftl
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Neck/ties.yml
  Resources/Prototypes/_Harmony/Loadouts/Miscellaneous/trinkets.yml
  Resources/Textures/_Harmony/Clothing/Neck/Misc/lanyard.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/Misc/lanyard.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/Misc/lanyard.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Neck/Misc/lanyard.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Neck/Misc/lanyard.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review

#446 Fix the tests
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Uniforms/jumpskirts.yml
Labels: Changes: No C#, Bugfix

#450 Atlas Update #1
  Resources/Maps/_Harmony/atlas.yml
Labels: Changes: No C#, Changes: Map

#451 Barratry Update (Atmos, Maints, Mail)
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Harmony/Shuttles/emergency_pioneer.yml
  Resources/Maps/_Harmony/barratry.yml
Labels: Changes: Map

#461 Allow lathes/fab to eject full 30 stacks
  Content.Client/Materials/UI/MaterialDisplay.xaml.cs
Labels: Changes: UI, S: Needs Review

#427 Mira Station - Moved and expanded some departments!
  Resources/Maps/_Harmony/Shuttles/cargo_mira.yml
  Resources/Maps/_Harmony/Shuttles/emergency_huyendo.yml
  Resources/Maps/_Harmony/mira.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Harmony/Maps/mira.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review

#441 Remove event spells and reduce wizard chances of rolling
  Resources/Prototypes/Catalog/spellbook_catalog.yml
  Resources/Prototypes/secret_weights.yml
Labels: Changes: No C#, S: Approved by Maintainer

#465 Mira - Final edits before publishing
  Resources/Maps/_Harmony/Shuttles/cargo_mira.yml
  Resources/Maps/_Harmony/Shuttles/emergency_huyendo.yml
  Resources/Maps/_Harmony/mira.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review

#473 Brigmedic Shuttle Hotfixes
  Resources/Maps/_Harmony/Shuttles/ShuttleEvent/brigmedic.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review

#472 Mira hotfixes - V2.1
  Resources/Maps/_Harmony/mira.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review

#470 Reverts smuggler satchels
  Resources/Locale/en-US/_Harmony/store/uplink-catalog.ftl
  Resources/Locale/en-US/thief/backpack.ftl
  Resources/Prototypes/Catalog/thief_toolbox_sets.yml
  Resources/Prototypes/_Harmony/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Back/satchel.yml
  Resources/Textures/_Harmony/Clothing/Back/Satchels/smuggler.rsi/equipped-BACKPACK.png
  Resources/Textures/_Harmony/Clothing/Back/Satchels/smuggler.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Back/Satchels/smuggler.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Back/Satchels/smuggler.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Back/Satchels/smuggler.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved by Maintainer

#484 Mira Hotfixes V2.2 - Cargo and Airlocks
  Resources/Maps/_Harmony/Shuttles/cargo_mira.yml
  Resources/Maps/_Harmony/Shuttles/emergency_huyendo.yml
  Resources/Maps/_Harmony/mira.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review
