Repository ss14-harmony/ss14-harmony, pull requests merged in 2025-09, with the labels that each got.

#908 Partial AP
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Shared/Armor/SharedArmorSystem.cs
  Content.Shared/Blocking/BlockingSystem.User.cs
  Content.Shared/Clothing/SharedCursedMaskSystem.cs
  Content.Shared/Damage/DamageModifierSet.cs
  Content.Shared/Damage/DamageSpecifier.cs
  Content.Shared/Damage/Systems/DamageProtectionBuffSystem.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Projectiles/ProjectileComponent.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: S: Needs Review, Port, Changes: C#

#1038 Silence vox
  Content.Client/_RMC14/UserInterface/Options/VoicelinesTab.xaml
  Content.Client/_RMC14/UserInterface/Options/VoicelinesTab.xaml.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.Emotes.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.Voicelines.cs
  Content.Shared/_RMC14/Voicelines/HumanoidVoicelinesSystem.cs
  Resources/Locale/en-US/_RMC14/ui.ftl
Labels: Changes: UI, S: Needs Review, Changes: C#, P2: Raised

#1048 Remove AP from the changelog
  Resources/Changelog/Harmony.yml
Labels: S: Needs Review, Maintenance

#1050 Merge some hotfixes
  Content.Server/Nutrition/EntitySystems/CreamPieSystem.cs
  Content.Server/Polymorph/Components/PolymorphedEntityComponent.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Shared/Nutrition/EntitySystems/FoodSequenceSystem.cs
  Content.Shared/Nutrition/EntitySystems/IngestionSystem.API.cs
  Content.Shared/Nutrition/EntitySystems/SharedCreamPieSystem.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
Labels: S: Needs Review, Maintenance

#1073 Enable the discord changelog
  .github/workflows/publish.yml
  Tools/actions_changelogs_since_last_run.py
Labels: S: Needs Review, Maintenance

#1079 Allow silencing Vulps
  Content.Client/_RMC14/UserInterface/Options/VoicelinesTab.xaml
  Content.Client/_RMC14/UserInterface/Options/VoicelinesTab.xaml.cs
  Content.Shared/_RMC14/Voicelines/HumanoidVoicelinesSystem.cs
  Resources/Locale/en-US/_RMC14/ui.ftl
Labels: Changes: UI, S: Needs Review, Changes: C#, P2: Raised

#1081 Changelog20250919
  Resources/Changelog/Harmony.yml
Labels: S: Needs Review, Maintenance

#1082 Fix reptilian and vulp hardsuit helmets being errors
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
Labels: S: Needs Review, Bugfix, P1: High

#1083 Changelog20250919-1
  Resources/Changelog/Harmony.yml
Labels: S: Needs Review, Maintenance

#1084 Space suits no longer hide lizard tails
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/bio.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
Labels: S: Needs Review
