Repository ss14-harmony/ss14-harmony, pull requests merged in 2025-01, with the labels that each got.

#212 Medical fabricator update & whitelist tweaks
  Resources/Prototypes/Entities/Objects/Specific/Chemistry/chem_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-vials.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/_Harmony/Recipes/Lathes/medical.yml
Labels: Changes: No C#, S: Awaiting Admin Input, S: Approved by Maintainer

#259 Make theifs no longer have objectives for animals who dont exist
  Resources/Prototypes/Objectives/thief.yml
Labels: Changes: No C#, DO NOT MERGE, S: Approved by Maintainer, S: Approved by Admin Team

#269 Add vox plushie to loadouts
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Harmony/Loadouts/Miscellaneous/trinkets.yml
Labels: Changes: No C#, S: Needs Review

#275 Aspid Update
  Resources/Maps/_Harmony/aspid.yml
Labels: Changes: No C#, Changes: Map

#266 Add Map Atlas
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Harmony/atlas.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Harmony/Maps/atlas.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review

#277 All Heads Get Their Own Berets!
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Harmony/Loadouts/Jobs/Command/chief_engineer.yml
  Resources/Prototypes/_Harmony/Loadouts/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/_Harmony/Loadouts/Jobs/Command/research_director.yml
  Resources/Prototypes/_Harmony/Recipes/Lathes/clothing.yml
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_ce.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_ce.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_ce.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_ce.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_ce.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_hop.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_hop.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_hop.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_hop.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_hop.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_qm.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_qm.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_qm.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_qm.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_qm.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_rd.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_rd.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_rd.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_rd.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_rd.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review

#213 Lower max nukie count to 4
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: No C#, S: Awaiting Admin Input, S: Approved by Maintainer

#262 Changelog20241230
  Resources/Changelog/Harmony.yml
Labels: Changes: No C#, Maintenance

#260 Grant Command and Security firelock access
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
Labels: Changes: No C#, S: Awaiting Admin Input, S: Approved by Maintainer

#239 Add perma prisoner
  Resources/Locale/en-US/_Harmony/job/job-description.ftl
  Resources/Locale/en-US/_Harmony/job/job-names.ftl
  Resources/Locale/en-US/_Harmony/preferences/loadout-groups.ftl
  Resources/Prototypes/Entities/Objects/Devices/station_beacon.yml
  Resources/Prototypes/Maps/amber.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/cog.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/loop.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Harmony/Loadouts/Jobs/Security/perma_prisoner.yml
  Resources/Prototypes/_Harmony/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Harmony/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Harmony/Maps/aspid.yml
  Resources/Prototypes/_Harmony/Roles/Jobs/Security/perma_prisoner.yml
  Resources/Prototypes/_Harmony/Roles/play_time_trackers.yml
  Resources/Textures/Objects/Devices/pda.rsi/harmony-pda-prisoner.png
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, Changes: Map, S: Awaiting Admin Input, S: Approved by Maintainer

#247 Orwellian Lawset
  Resources/Locale/en-US/_Harmony/station-laws/laws.ftl
  Resources/Prototypes/_Harmony/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Harmony/silicon-laws.yml
Labels: Changes: No C#, S: Awaiting Admin Input, S: Approved by Maintainer

#270 Tape recorder attempt 2
  Content.Client/_DeltaV/TapeRecorder/TapeRecorderSystem.cs
  Content.Client/_DeltaV/TapeRecorder/UI/TapeRecorderBoundUserInterface.cs
  Content.Client/_DeltaV/TapeRecorder/UI/TapeRecorderWindow.xaml
  Content.Client/_DeltaV/TapeRecorder/UI/TapeRecorderWindow.xaml.cs
  Content.Server/_DeltaV/TapeRecorder/TapeRecorderSystem.cs
  Content.Shared/_DeltaV/TapeRecorder/Components/ActiveTapeRecorderComponent.cs
  Content.Shared/_DeltaV/TapeRecorder/Components/FitsInTapeRecorderComponent.cs
  Content.Shared/_DeltaV/TapeRecorder/Components/TapeCasetteComponent.cs
  Content.Shared/_DeltaV/TapeRecorder/Components/TapeRecorderComponent.cs
  Content.Shared/_DeltaV/TapeRecorder/Systems/SharedTapeRecorderSystem.cs
  Content.Shared/_DeltaV/TapeRecorder/TapeCasetteRecordedMessage.cs
  Content.Shared/_DeltaV/TapeRecorder/TapeRecorderUI.cs
  Resources/Audio/_DeltaV/Items/TapeRecorder/attributions.yml
  Resources/Audio/_DeltaV/Items/TapeRecorder/play.ogg
  Resources/Audio/_DeltaV/Items/TapeRecorder/rewind.ogg
  Resources/Audio/_DeltaV/Items/TapeRecorder/stop.ogg
  Resources/Locale/en-US/_DeltaV/taperecorder/taperecorder.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/_DeltaV/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/_DeltaV/Entities/Objects/Devices/tape_recorder.yml
  Resources/Prototypes/_DeltaV/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_DeltaV/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/_DeltaV/Recipes/Lathes/misc.yml
  Resources/Textures/_DeltaV/Objects/Devices/cassette_tapes.rsi/meta.json
  Resources/Textures/_DeltaV/Objects/Devices/cassette_tapes.rsi/tape_greyscale.png
  Resources/Textures/_DeltaV/Objects/Devices/cassette_tapes.rsi/tape_ribbonoverlay.png
  Resources/Textures/_DeltaV/Objects/Devices/tape_recorder.rsi/empty.png
  Resources/Textures/_DeltaV/Objects/Devices/tape_recorder.rsi/idle.png
  Resources/Textures/_DeltaV/Objects/Devices/tape_recorder.rsi/inhand-left.png
  Resources/Textures/_DeltaV/Objects/Devices/tape_recorder.rsi/inhand-right.png
  Resources/Textures/_DeltaV/Objects/Devices/tape_recorder.rsi/meta.json
  Resources/Textures/_DeltaV/Objects/Devices/tape_recorder.rsi/playing.png
  Resources/Textures/_DeltaV/Objects/Devices/tape_recorder.rsi/recording.png
  Resources/Textures/_DeltaV/Objects/Devices/tape_recorder.rsi/rewinding.png
  Resources/Textures/_DeltaV/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/_DeltaV/Objects/Storage/boxes.rsi/recorder.png
Labels: Changes: Sprites, Changes: UI, S: Needs Review, S: Awaiting Admin Input, S: Approved by Maintainer, Changes: Audio

#274 Adds the HoS Flask to the HoS Armored Trench Coat Pocket
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
Labels: Changes: No C#, S: Needs Review

#278 Makes the CE Jumpsuits have more color consistency
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/ce.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/ce.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/ce.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/ce.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/ce.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/ce.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/ce_turtle.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/ce_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/ce_turtle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/ce_turtle.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/ce_turtle.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/ce_turtle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/ce.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/ce.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/ce.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/ce.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/ce.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/ce.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, S: Approved by Maintainer

#244 Port of Delta V Vent critters
  Content.Server/StationEvents/Components/VentCrittersRuleComponent.cs
  Content.Server/StationEvents/Events/VentCrittersRule.cs
  Resources/Locale/en-US/_DeltaV/station-events/events/vent-critters.ftl
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/pests.yml
Labels: S: Approved by Maintainer, S: Approved by Admin Team

#283 Barratry Update (Science Edition)
  Resources/Maps/_Harmony/barratry.yml
  Resources/Prototypes/_Harmony/Maps/barratry.yml
Labels: Changes: No C#, Changes: Map

#285 Revert "Make theifs no longer have objectives for animals who dont exist"
  Resources/Prototypes/Objectives/thief.yml
Labels: Changes: No C#, S: Needs Review

#280 Changelog20250106
  Resources/Changelog/Harmony.yml
Labels: Maintenance

#258 Makes poquito a real boy (also fixes his description I guess)
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
Labels: Changes: No C#, S: Awaiting Admin Input, S: Approved by Maintainer

#288 Fix SyndiListeningPostPDA to work with chameleon pda system
  Resources/Prototypes/_DeltaV/Entities/Objects/Devices/pda.yml
Labels: Changes: No C#, S: Needs Review

#290 Fix NonGameMapsLoadableTest for Listening Outpost
  Resources/Maps/_Harmony/Nonstations/listening-outpost.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, Bugfix

#292 Barratry Tweaks
  Resources/Maps/_Harmony/barratry.yml
Labels: Changes: No C#, Changes: Map

#291 Listening Outpost Fixes
  Resources/Maps/_Harmony/Nonstations/listening-outpost.yml
  Resources/Prototypes/_DeltaV/GameRules/events.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review

#297 Fix Listening Post (Again)
  Resources/Locale/en-US/_DeltaV/ghost/roles/ghost-role-component.ftl
  Resources/Maps/_Harmony/Nonstations/listening-outpost.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, Bugfix

#298 Space law and minor rule changes
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyR5.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
Labels: Changes: No C#, S: Needs Review

#289 Changelog20250108
  Resources/Changelog/Harmony.yml
Labels: Maintenance

#300 Remove whitelist chameleon tag from vox-specific masks
  Resources/Prototypes/_Harmony/Entities/Clothing/Masks/masks.yml
Labels: Changes: No C#, S: Needs Review, Bugfix

#271 Starset Sarsaparilla
  Resources/Locale/en-US/_Harmony/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_Harmony/reagents/meta/consumable/drink/soda.ftl
  Resources/Prototypes/_Harmony/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_Harmony/Flavors/flavors.yml
  Resources/Prototypes/_Harmony/Reagents/Consumable/Drink/soda.yml
  Resources/Prototypes/_Harmony/Recipes/Reactions/drinks.yml
  Resources/Textures/_Harmony/Objects/Consumable/Drinks/starset-sarsaparilla.rsi/fill-1.png
  Resources/Textures/_Harmony/Objects/Consumable/Drinks/starset-sarsaparilla.rsi/fill-2.png
  Resources/Textures/_Harmony/Objects/Consumable/Drinks/starset-sarsaparilla.rsi/fill-3.png
  Resources/Textures/_Harmony/Objects/Consumable/Drinks/starset-sarsaparilla.rsi/fill-4.png
  Resources/Textures/_Harmony/Objects/Consumable/Drinks/starset-sarsaparilla.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Consumable/Drinks/starset-sarsaparilla.rsi/icon_empty.png
  Resources/Textures/_Harmony/Objects/Consumable/Drinks/starset-sarsaparilla.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review

#272 Adds the Pizza Bomb
  Resources/Locale/en-US/_Harmony/store/uplink-catalog.ftl
  Resources/Prototypes/_Harmony/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Bombs/pizzabomb.yml
  Resources/Textures/_Harmony/Objects/Weapons/Bombs/Pizzabomb.rsi/box-inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Bombs/Pizzabomb.rsi/box-inhand-right.png
  Resources/Textures/_Harmony/Objects/Weapons/Bombs/Pizzabomb.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Bombs/Pizzabomb.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Bombs/Pizzabomb.rsi/primed.png
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, S: Approved by Maintainer

#302 Repo rename
  LEGAL.md
  README.md
  Resources/Audio/_Harmony/Lobby/attributions.yml
  Resources/Changelog/Harmony.yml
  Resources/Textures/_Harmony/LobbyScreens/attributions.yml
Labels: Maintenance

#299 Traitor Deathrattle Implants
  Resources/Locale/en-US/_Harmony/store/uplink-catalog.ftl
  Resources/Prototypes/_Harmony/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/_Harmony/Catalog/uplink_catalog.yml
Labels: Changes: No C#, S: Approved by Maintainer

#307 Add items to the aghost bag
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: Changes: No C#, S: Approved by Maintainer

#310 New Central Command
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/Shuttles/Components/StationCentcommComponent.cs
  Resources/Maps/_Harmony/centcomm.yml
  Resources/Prototypes/Maps/centcomm.yml
Labels: Changes: Map

#315 Port giant snake tails from CD with some significant changes
  Resources/Locale/en-US/_CD/markings/reptilian.ftl
  Resources/Prototypes/_CD/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/_CD/Mobs/Customization/snaketail.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/snaketail.rsi/tail_snake_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketail.rsi/tail_snake_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketail.rsi/tail_snake_wag_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketail.rsi/tail_snake_wag_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketaildual.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/snaketaildual.rsi/tail_snake_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketaildual.rsi/tail_snake_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketaildual.rsi/tail_snake_wag_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketaildual.rsi/tail_snake_wag_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketailstripe.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/snaketailstripe.rsi/tail_snake_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketailstripe.rsi/tail_snake_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketailstripe.rsi/tail_snake_wag_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketailstripe.rsi/tail_snake_wag_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketailunder.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/snaketailunder.rsi/tail_snake_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketailunder.rsi/tail_snake_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketailunder.rsi/tail_snake_wag_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketailunder.rsi/tail_snake_wag_secondary.png
Labels: Changes: No C#, Changes: Sprites, S: Approved by Maintainer

#311 Curator Coat and Mantle
  Resources/Locale/en-US/_Harmony/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_Harmony/Loadouts/Jobs/Civilian/librarian.yml
  Resources/Prototypes/_Harmony/Loadouts/loadout_groups.yml
  Resources/Textures/_Harmony/Clothing/Head/Hoods/Coat/hoodcuratorcoat.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Hoods/Coat/hoodcuratorcoat.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hoods/Coat/hoodcuratorcoat.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/curatormantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/curatormantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/curatormantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/OuterClothing/WinterCoats/curatorcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/WinterCoats/curatorcoat.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/WinterCoats/curatorcoat.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/WinterCoats/curatorcoat.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/WinterCoats/curatorcoat.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved by Maintainer

#304 Add CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
Labels: Maintenance

#287 Riot Shield Suit Slots
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/buckler.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/buckler.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/buckler.rsi/inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/buckler.rsi/inhand-right.png
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/buckler.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/makeshift-shield.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/makeshift-shield.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/makeshift-shield.rsi/inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/makeshift-shield.rsi/inhand-right.png
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/makeshift-shield.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/riot-bullet-shield.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/riot-bullet-shield.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/riot-bullet-shield.rsi/inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/riot-bullet-shield.rsi/inhand-right.png
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/riot-bullet-shield.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/riot-laser-shield.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/riot-laser-shield.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/riot-laser-shield.rsi/inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/riot-laser-shield.rsi/inhand-right.png
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/riot-laser-shield.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/riot-shield.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/riot-shield.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/riot-shield.rsi/inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/riot-shield.rsi/inhand-right.png
  Resources/Textures/_Harmony/Objects/Weapons/Melee/Shields/riot-shield.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved by Maintainer, S: Approved by Admin Team

#284 Security Bolas
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Throwable/securitybola.yml
  Resources/Prototypes/_Harmony/Recipes/Lathes/security.yml
  Resources/Textures/_Harmony/Objects/Weapons/Throwable/securitybola.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Throwable/securitybola.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved by Maintainer, S: Approved by Admin Team

#314 Downstream RPD as designed by gusxyz
  Content.Client/RCD/RCDConstructionGhostSystem.cs
  Content.Client/RCD/RCDMenu.xaml
  Content.Server/Charges/Systems/ChargesSystem.cs
  Content.Shared/Charges/Components/LimitedChargesComponent.cs
  Content.Shared/Charges/Systems/SharedChargesSystem.cs
  Content.Shared/RCD/Components/RCDAmmoComponent.cs
  Content.Shared/RCD/Components/RCDComponent.cs
  Content.Shared/RCD/Components/RCDDeconstructibleComponent.cs
  Content.Shared/RCD/RCDEvents.cs
  Content.Shared/RCD/RCDPrototype.cs
  Content.Shared/RCD/Systems/RCDAmmoSystem.cs
  Content.Shared/RCD/Systems/RCDSystem.cs
  Resources/Locale/en-US/rcd/components/rcd-component.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/RPD/rpd.yml
  Resources/Textures/Interface/Radial/RPD/bend.png
  Resources/Textures/Interface/Radial/RPD/dual_port.png
  Resources/Textures/Interface/Radial/RPD/fourway.png
  Resources/Textures/Interface/Radial/RPD/gas_filter.png
  Resources/Textures/Interface/Radial/RPD/gas_mixer.png
  Resources/Textures/Interface/Radial/RPD/injector.png
  Resources/Textures/Interface/Radial/RPD/pneumatic_valve.png
  Resources/Textures/Interface/Radial/RPD/port.png
  Resources/Textures/Interface/Radial/RPD/pump_manual_valve.png
  Resources/Textures/Interface/Radial/RPD/pump_pressure.png
  Resources/Textures/Interface/Radial/RPD/pump_signal_valve.png
  Resources/Textures/Interface/Radial/RPD/pump_volume.png
  Resources/Textures/Interface/Radial/RPD/radiator.png
  Resources/Textures/Interface/Radial/RPD/scrub_off.png
  Resources/Textures/Interface/Radial/RPD/straight.png
  Resources/Textures/Interface/Radial/RPD/tjunction.png
  Resources/Textures/Interface/Radial/RPD/vent_off.png
  Resources/Textures/Interface/Radial/RPD/vent_passive.png
  Resources/Textures/Objects/Tools/rpd.rsi/icon.png
  Resources/Textures/Objects/Tools/rpd.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/rpd.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/rpd.rsi/meta.json
Labels: Changes: Sprites, Changes: UI, S: DO NOT MERGE, S: Approved by Maintainer, S: Approved by Admin Team

#303 Give Service Worker Hydroponics access
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
Labels: Changes: No C#, S: Approved by Maintainer, S: Approved by Admin Team

#313 Small Monkey Resprite
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/_Harmony/Mobs/Animals/monkey.rsi/meta.json
  Resources/Textures/_Harmony/Mobs/Animals/monkey.rsi/monkey.png
Labels: Changes: No C#, Changes: Sprites, S: Approved by Maintainer

#255 Make bonfires actually set you on fire and set plasma on fire, and is now craftable
  Resources/Prototypes/Entities/Structures/Decoration/bonfire.yml
  Resources/Prototypes/_Harmony/Recipes/Construction/Graphs/structures/bonfire.yml
  Resources/Prototypes/_Harmony/Recipes/Construction/bonfire.yml
Labels: Changes: No C#, S: Awaiting Admin Input, S: Approved by Maintainer

#305 Changelog20250112
  Resources/Changelog/Harmony.yml
Labels: Changes: No C#, Maintenance

#317 Inter departmental beret Resprite
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Head/hats.yml
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_engineering.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_engineering.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_engineering.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_engineering.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_engineering.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_medic.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_medic.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_medic.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_medic.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_medic.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_physician.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_physician.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_physician.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_physician.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_physician.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_rnd.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_rnd.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_rnd.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_rnd.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_rnd.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_seniortechnician.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_seniortechnician.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_seniortechnician.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_seniortechnician.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_seniortechnician.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_technician_senior.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_technician_senior.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_technician_senior.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_technician_senior.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/beret_technician_senior.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review

#327 Toning down giant spider poison injection
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: No C#, Maintenance, S: Approved by Maintainer, Bugfix

#328 Ion storm lawset: walamalawset
  Resources/Locale/en-US/_Harmony/station-laws/laws.ftl
  Resources/Prototypes/_Harmony/silicon-laws.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: No C#

#332 HoS trenchcoat for Vox.
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/hos_trenchcoat.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/hos_trenchcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/hos_trenchcoat.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/warden.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/WinterCoats/coatwardenarmored.rsi/equipped-OUTERCLOTHING-vox.png
Labels: Changes: No C#, Changes: Sprites, S: Needs Review

#296 Law 0 for borgs: obey AI
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Resources/Locale/en-US/_Harmony/station-laws/laws.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/_Harmony/silicon-laws.yml
Labels: Changes: No C#, S: Awaiting Admin Input, S: Approved by Maintainer

#324 Increases .35 Pistol Mag Size
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
Labels: Changes: No C#, S: Approved by Maintainer, S: Approved by Admin Team

#318 Adds hyposhells to the uplink for bar/zookeepers
  Resources/Locale/en-US/_Harmony/store/uplink-catalog.ftl
  Resources/Prototypes/_Harmony/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/base.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/hypo.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-1.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-2.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-3.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-4.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/hypo-spent.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/hypo.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, S: Approved by Maintainer

#325 Resprite the lecter
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Rifles/lecter.rsi/base.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Rifles/lecter.rsi/bolt-open.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Rifles/lecter.rsi/equipped-BACKPACK.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Rifles/lecter.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Rifles/lecter.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Rifles/lecter.rsi/inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Rifles/lecter.rsi/inhand-right.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Rifles/lecter.rsi/mag-0.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Rifles/lecter.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Rifles/lecter.rsi/wielded-inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Rifles/lecter.rsi/wielded-inhand-right.png
Labels: Changes: No C#, Changes: Sprites, S: Approved by Maintainer
