Repository ss14-harmony/ss14-harmony, pull requests merged in 2025-04, with the labels that each got.

#475 Made syndicate listening post spawn earlier and removed time requirements
  Resources/Prototypes/_DeltaV/GameRules/events.yml
  Resources/Prototypes/_DeltaV/Roles/Antags/listening_post.yml
  Resources/Prototypes/_DeltaV/Roles/MindRoles/mind_roles.yml
Labels: Changes: No C#, S: Needs Review

#505 Atlas update #2
  Resources/Maps/_Harmony/atlas.yml
Labels: Changes: No C#, Changes: Map

#370 Fix rpd radial menu and add it back to lockers
  Content.Client/RCD/RCDMenu.xaml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: No C#, Changes: UI, S: Needs Review

#519 Fix the RPD
  Content.Client/RCD/RCDMenuBoundUserInterface.cs
Labels: S: Approved by Maintainer, Bugfix

#520 Listening post update
  Resources/Maps/_Harmony/Nonstations/listening-outpost.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review

#530 Resprites the Singularity Generator
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/generator.yml
  Resources/Textures/_Harmony/Structures/Power/Generation/Singularity/generator.rsi/icon-unshaded.png
  Resources/Textures/_Harmony/Structures/Power/Generation/Singularity/generator.rsi/icon.png
  Resources/Textures/_Harmony/Structures/Power/Generation/Singularity/generator.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review

#525 Adds "Survive" Objective to traitors, makes "Escape to centcomm alive and unrestrained" more rare.
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Prototypes/_Harmony/Objectives/traitor.yml
Labels: Changes: No C#, S: Needs Review

#404 Reverts disabler buff
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Changes: No C#, S: Needs Review

#536 updated vox mask icons
  Resources/Textures/_Harmony/Clothing/Mask/NTenforcer.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Mask/specvoxmask.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Mask/voxcorpsepaint.rsi/icon.png
Labels: Changes: No C#, Changes: Sprites

#379 Upstream map modification support
  Content.Client/Entry/EntryPoint.cs
  Content.IntegrationTests/Tests/_Harmony/Maps/Modifications/MapModificationsTests.cs
  Content.Server/_Harmony/Maps/Modifications/ApplyMapModificationCommand.cs
  Content.Server/_Harmony/Maps/Modifications/MapModificationPrototype.cs
  Content.Server/_Harmony/Maps/Modifications/Systems/MapModificationSystem.cs
  Content.Shared/_Harmony/EntitySelector/EntitySelector.cs
  Content.Shared/_Harmony/EntitySelector/EntitySelectorManager.cs
  Content.Shared/_Harmony/EntitySelector/Implementations/EntityPrototypeSelector.cs
  Content.Shared/_Harmony/EntitySelector/Implementations/EntityTagSelector.cs
  Resources/Locale/en-US/_Harmony/commands/applymapmodification-command.ftl
Labels: S: Approved by Maintainer

#550 Small map modification fix
  Content.Shared/_Harmony/EntitySelector/EntitySelector.cs
Labels: S: Approved by Maintainer, Bugfix

#561 Remove Meta from Rotation
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: No C#, Changes: Map

#408 McLilten Barsign
  Resources/Locale/en-US/_Harmony/barsign/barsign-component.ftl
  Resources/Prototypes/_Harmony/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/Prototypes/_Harmony/bar_signs.yml
  Resources/Textures/_Harmony/Structures/Wallmounts/barsign.rsi/mcliltens.png
  Resources/Textures/_Harmony/Structures/Wallmounts/barsign.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved by Maintainer
