Repository ss14-harmony/ss14-harmony, pull requests merged in 2025-02, with the labels that each got.

#331 Bola Explosion Immunity
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
Labels: Changes: No C#, S: Needs Review

#338 Mantis gloves
  Content.Client/_Harmony/Clothing/Gloves/Systems/MantisGlovesSystem.cs
  Content.Server/_Harmony/Clothing/Gloves/Systems/MantisGlovesSystem.cs
  Content.Shared/_Harmony/Clothing/Gloves/Components/MantisGlovesComponent.cs
  Content.Shared/_Harmony/Clothing/Gloves/Systems/SharedMantisGlovesSystem.cs
  Resources/Audio/_Harmony/Weapons/attributions.yml
  Resources/Audio/_Harmony/Weapons/mantisoff.wav
  Resources/Audio/_Harmony/Weapons/mantison.wav
  Resources/Locale/en-US/_Harmony/clothing/mantis-gloves.ftl
  Resources/Prototypes/_Harmony/Actions/types.yml
  Resources/Prototypes/_Harmony/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Hands/gloves.yml
  Resources/Textures/_Harmony/Clothing/Hands/Gloves/mantis.rsi/activated-equipped-HAND.png
  Resources/Textures/_Harmony/Clothing/Hands/Gloves/mantis.rsi/equipped-HAND.png
  Resources/Textures/_Harmony/Clothing/Hands/Gloves/mantis.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Hands/Gloves/mantis.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Hands/Gloves/mantis.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Hands/Gloves/mantis.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Hands/Gloves/mantis_activated.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Hands/Gloves/mantis_activated.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, S: Awaiting Admin Input, S: Approved by Maintainer

#351 Mantis gloves hotfix
  Resources/Prototypes/_Harmony/Entities/Clothing/Hands/gloves.yml
Labels: Changes: No C#, S: Needs Review

#354 Mantis gloves refactor
  Content.Shared/_Harmony/Clothing/Gloves/Components/MantisGlovesComponent.cs
  Content.Shared/_Harmony/Clothing/Gloves/Systems/SharedMantisGlovesSystem.cs
  Resources/Locale/en-US/_Harmony/clothing/mantis-gloves.ftl
  Resources/Prototypes/_Harmony/Entities/Clothing/Hands/gloves.yml
Labels: S: Needs Review

#306 Adds Major Contraband to Sawn Off
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: Changes: No C#, S: Approved by Maintainer, S: Approved by Admin Team

#220 Ninja Glove Stun Reduced To Match Flash
  Content.Shared/Ninja/Components/StunProviderComponent.cs
Labels: S: Approved by Maintainer, S: Approved by Admin Team

#356 Remove the raffle from slimes, spiders, and carps.
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
Labels: Changes: No C#, S: Approved by Maintainer, S: Approved by Admin Team

#357 Adds Blatantly Nuclear by mrjajkes to the Nuke Music pool
  Resources/Audio/_Harmony/StationEvents/attributions.yml
  Resources/Audio/_Harmony/StationEvents/blatantly_nuclear.ogg
  Resources/Prototypes/SoundCollections/NukeMusic.yml
Labels: Changes: No C#, S: Approved by Maintainer, Changes: Audio

#333 Changelog20250126
  Resources/Changelog/Harmony.yml
Labels: Changes: No C#, Maintenance

#341 Add Workaday Suit
  Resources/Locale/en-US/_Harmony/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Harmony/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/_Harmony/Loadouts/loadout_groups.yml
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/workaday.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/workaday.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/workaday.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/workaday.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/workaday.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, S: Approved by Maintainer

#339 The Cargo Clothing Cargoverhaul!!!
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cargodrobe.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Harmony/Loadouts/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/_Harmony/Recipes/Lathes/clothing.yml
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/cargo_skirt.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/cargo_skirt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/cargo_skirt.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/cargo_skirt.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/cargo_skirt.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/cargo_skirt.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/senior_technician.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/senior_technician.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/senior_technician.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/senior_technician.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/senior_technician.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/senior_technician.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/cargo_overalls.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/cargo_overalls.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/cargo_overalls.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/cargo_overalls.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/cargo_overalls.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/cargo_overalls.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/cargo_pants.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/cargo_pants.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/cargo_pants.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/cargo_pants.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/cargo_pants.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/cargo_pants.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/cargo_slacks.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/cargo_slacks.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/cargo_slacks.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/cargo_slacks.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/cargo_slacks.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/cargo_slacks.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/senior_technician.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/senior_technician.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/senior_technician.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/senior_technician.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/senior_technician.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/senior_technician.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#360 The return of salvage debris, fultons, and seismic charges
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
Labels: Changes: No C#, S: Approved by Maintainer, S: Approved by Admin Team

#366 Early merge of microbomb fix
  Content.Server/Implants/ImplantedSystem.cs
  Content.Shared/Implants/Components/ImplantedComponent.cs
Labels: Maintenance

#365 Changelog20250208
  Resources/Changelog/Harmony.yml
Labels: Changes: No C#, Maintenance

#364 Escape pods now land at centcomm.
  Content.Server/Shuttles/Components/DockingComponent.cs
  Content.Server/Shuttles/Systems/DockingSystem.Shuttle.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.Console.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Resources/Prototypes/_Harmony/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_Harmony/tags.yml
Labels: S: Approved by Maintainer

#369 remove rpd from lockers
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: No C#, S: Needs Review

#372 CentComm Update (Pod Docks)
  Resources/Maps/_Harmony/centcomm.yml
Labels: Changes: No C#, Changes: Map

#375 Revert "Law 0 for borgs: obey AI"
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Resources/Locale/en-US/_Harmony/station-laws/laws.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/_Harmony/silicon-laws.yml
Labels: S: Approved by Maintainer, Bugfix

#273 Disable round end pacifism and add a new command to pacify everyone
  Content.Server/_Harmony/RoundEnd/PacifyAllCommand.cs
  Content.Server/_Harmony/RoundEnd/RoundEndSystem.Pacified.cs
  Content.Shared/_Harmony/CCVars/HCCVars.cs
Labels: S: Approved by Maintainer, S: Approved by Admin Team

#387 Fixes pizza bomb capitalization
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Bombs/pizzabomb.yml
Labels: Changes: No C#, S: Needs Review, Bugfix

#381 Fix Poquito's ghostrole description
  Resources/Locale/en-US/_Harmony/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/_Harmony/Entities/Mobs/NPCs/pets.yml
Labels: Changes: No C#

#391 Change description of rat king
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
Labels: Changes: No C#, S: Needs Review

#392 Disable Default Station Rotation
  Content.Server/Maps/GameMapPrototype.cs
Labels: S: Awaiting Admin Input

#393 Adjust Role Timers
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Changes: No C#, S: Approved by Maintainer

#395 Revert "Adds the HoS Flask to the HoS Armored Trench Coat Pocket"
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
Labels: Changes: No C#, S: Approved by Maintainer

#390 Mira station
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Harmony/Shuttles/cargo_mira.yml
  Resources/Maps/_Harmony/Shuttles/emergency_huyendo.yml
  Resources/Maps/_Harmony/mira.yml
  Resources/Prototypes/_Harmony/Maps/mira.yml
Labels: Changes: Map

#398 Removed Terrorism Law
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLCrimeList.xml
Labels: Changes: No C#, S: Needs Review

#353 DM02 Sandbomb: deathmatch map
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Locale/en-US/_Harmony/tiles/tiles.ftl
  Resources/Maps/_Harmony/Nonstations/dm02-sandbomb.yml
  Resources/Prototypes/_Harmony/Maps/Pools/deathmatch.yml
  Resources/Prototypes/_Harmony/Maps/arenas.yml
  Resources/Prototypes/_Harmony/Tiles/floors.yml
  Resources/Textures/_Harmony/Tiles/redwater.png
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Approved by Maintainer

#399 Reorganize PostMapInitTest.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
Labels: Maintenance

#368 Add the prisoner to more maps
  Resources/Prototypes/Maps/convex.yml
  Resources/Prototypes/Maps/elkridge.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review
