Repository ss14-harmony/ss14-harmony, pull requests merged in 2025-10, with the labels that each got.

#1066 Adds elite suit to traitor uplink
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: S: Needs Review, S: Curator Approval

#1109 Changelog20251003
  Resources/Changelog/Harmony.yml
Labels: S: Needs Review, Maintenance

#1117 Revert "Clarified EORG rules"
  Resources/ServerInfo/_Harmony/Guidebook/ServerRules/HarmonyRules/HarmonyR6.xml
Labels: S: Needs Review

#1118 Barratry update - Service, Atmos, Psychologist, and AI restoration console + Full map render
  Resources/Maps/_Harmony/barratry.yml
  Resources/Prototypes/_Harmony/Maps/barratry.yml
Labels: Changes: Map, S: Needs Review
