Repository ss14-harmony/ss14-harmony, pull requests merged in 2025-06, with the labels that each got.

#725 Small micheal tweaks
  Resources/Prototypes/_Harmony/Entities/Structures/Machines/microwave.yml
Labels: S: Maintainer Approval

#638 Blood Brothers
  Content.Client/_Harmony/BloodBrothers/EntitySystems/BloodBrotherSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Content.Server/_Harmony/BloodBrothers/EntitySystems/BloodBrotherSystem.cs
  Content.Server/_Harmony/GameTicking/Rules/BloodBrotherRuleSystem.cs
  Content.Server/_Harmony/GameTicking/Rules/Components/BloodBrotherRuleComponent.cs
  Content.Server/_Harmony/Roles/BloodBrotherRoleComponent.cs
  Content.Shared/_Harmony/BloodBrothers/Components/BloodBrotherComponent.cs
  Content.Shared/_Harmony/BloodBrothers/Components/InitialBloodBrotherComponent.cs
  Content.Shared/_Harmony/BloodBrothers/EntitySystems/SharedBloodBrotherSystem.cs
  Resources/Locale/en-US/_Harmony/administration/antag.ftl
  Resources/Locale/en-US/_Harmony/game-ticking/game-presets/preset-bloodbrother.ftl
  Resources/Locale/en-US/_Harmony/guidebook/guides.ftl
  Resources/Locale/en-US/_Harmony/mind/role-types.ftl
  Resources/Locale/en-US/_Harmony/prototypes/roles/antags.ftl
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Guidebook/antagonist.yml
  Resources/Prototypes/_Harmony/Actions/blood_brothers.yml
  Resources/Prototypes/_Harmony/GameRules/subgamemodes.yml
  Resources/Prototypes/_Harmony/Guidebook/antagonist.yml
  Resources/Prototypes/_Harmony/Objectives/bloodbrother.yml
  Resources/Prototypes/_Harmony/Objectives/objectiveGroups.yml
  Resources/Prototypes/_Harmony/Roles/Antags/bloodbrother.yml
  Resources/Prototypes/_Harmony/Roles/MindRoles/mind_roles.yml
  Resources/Prototypes/_Harmony/StatusIcon/faction.yml
  Resources/Prototypes/_Harmony/ai_factions.yml
  Resources/Prototypes/ai_factions.yml
  Resources/ServerInfo/Guidebook/Antagonist/Antagonists.xml
  Resources/ServerInfo/_Harmony/Guidebook/Antagonist/BloodBrothers.xml
  Resources/Textures/_Harmony/Interface/Misc/job_icons.rsi/BloodBrother.png
  Resources/Textures/_Harmony/Interface/Misc/job_icons.rsi/meta.json
Labels: Changes: Sprites, S: Maintainer Approval, S: Art Approval, Changes: C#

#736 Add BB to the no wizard sub game modes
  Resources/Prototypes/GameRules/roundstart.yml
Labels: S: Needs Review

#716 Mosin Resprite
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/base.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/bolt-open.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/equipped-BACKPACK.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/inhand-right.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/wielded-inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, S: Maintainer Approval, S: Art Approval

#742 CODEOWNERS Update (tanuko)
  .github/CODEOWNERS
Labels: Maintenance, S: Maintainer Approval

#587 Adds Spire, a semi-planet map
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Harmony/Shuttles/emergency_spire.yml
  Resources/Maps/_Harmony/spire.yml
  Resources/Prototypes/_Harmony/Maps/spire.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, Changes: C#

#747 Exclusiver blood brother
  Resources/Prototypes/_Harmony/GameRules/subgamemodes.yml
Labels: S: Maintainer Approval

#715 Re-balanced Salv
  Resources/Prototypes/Catalog/Bounties/salvage_jobs.yml
  Resources/Prototypes/Research/arsenal.yml
Labels: S: Maintainer Approval, S: Admin Approval

#752 Ports Some Ai Customization from Paradise
  Resources/Locale/en-US/_Harmony/silicons/station-ai.ftl
  Resources/Prototypes/AppearanceCustomization/station_ai.yml
  Resources/Prototypes/_Harmony/AppearanceCustomization/station_ai.yml
  Resources/Textures/_Harmony/Mobs/Silicon/holograms.rsi/ai_xeno.png
  Resources/Textures/_Harmony/Mobs/Silicon/holograms.rsi/meta.json
  Resources/Textures/_Harmony/Mobs/Silicon/station_ai.rsi/ai_house.png
  Resources/Textures/_Harmony/Mobs/Silicon/station_ai.rsi/ai_lizard.png
  Resources/Textures/_Harmony/Mobs/Silicon/station_ai.rsi/ai_xeno_queen.png
  Resources/Textures/_Harmony/Mobs/Silicon/station_ai.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Art Approval

#760 Separate blood brother preference between initial and convertible
  Content.Shared/_Harmony/BloodBrothers/Components/InitialBloodBrotherComponent.cs
  Resources/Locale/en-US/_Harmony/prototypes/roles/antags.ftl
  Resources/Prototypes/_Harmony/Roles/Antags/bloodbrother.yml
Labels: S: Maintainer Approval, Changes: C#

#766 Prime - Misc security fixes
  Resources/Maps/_Harmony/prime.yml
Labels: Changes: Map, S: Needs Review

#531 Standardizes Salvage Hardsuit Armor Values
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: No C#, S: Maintainer Approval

#744 Pizza bomb box
  Resources/Locale/en-US/_Harmony/store/uplink-catalog.ftl
  Resources/Prototypes/_Harmony/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Bombs/pizzabombbox.yml
Labels: S: Maintainer Approval

#770 Barratry bulking update - Genpop, maints, various other changes.
  Resources/Maps/_Harmony/barratry.yml
Labels: Changes: Map, S: Needs Review

#765 Doors No Longer Connect to Walls
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
Labels: S: Maintainer Approval

#772 Changelog20250614
  Resources/Changelog/Harmony.yml
Labels: S: Needs Review, Maintenance

#773 Barratry prisoner spawn fix
  Resources/Prototypes/_Harmony/Maps/Modifications/barratry.yml
Labels: S: Needs Review, Bugfix, Urgent

#687 Security hardsuits resprite
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security-red.rsi/equipped-head-light-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security-red.rsi/equipped-head-light.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security-red.rsi/equipped-head-unshaded-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security-red.rsi/equipped-head-unshaded.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security-red.rsi/equipped-head-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security-red.rsi/equipped-head.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security-red.rsi/icon-flash.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security-red.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security-red.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security-warden.rsi/equipped-head-light-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security-warden.rsi/equipped-head-light.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security-warden.rsi/equipped-head-unshaded-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security-warden.rsi/equipped-head-unshaded.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security-warden.rsi/equipped-head-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security-warden.rsi/equipped-head.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security-warden.rsi/icon-flash.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security-warden.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security-warden.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security.rsi/equipped-head-light-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security.rsi/equipped-head-light.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security.rsi/equipped-head-unshaded-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security.rsi/equipped-head-unshaded.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security.rsi/equipped-head-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security.rsi/equipped-head.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security.rsi/icon-flash.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/security.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/security-red.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/security-red.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/security-red.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/security-red.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/security-red.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/security-red.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/security-warden.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/security-warden.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/security-warden.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/security-warden.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/security-warden.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/security-warden.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/security.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/security.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/security.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/security.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/security.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/security.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Maintainer Approval, S: Art Approval

#600 Adds hacked pAIs and smoke compartment
  Resources/Locale/en-US/_Harmony/store/categories.ftl
  Resources/Locale/en-US/_Harmony/store/pai-catalog.ftl
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/_Harmony/Actions/pAI.yml
  Resources/Prototypes/_Harmony/Catalog/pAI_catalog.yml
  Resources/Prototypes/_Harmony/Store/categories.yml
  Resources/Prototypes/_Harmony/tags.yml
Labels: Changes: No C#, S: Maintainer Approval

#776 Revert "Adds hacked pAIs and smoke compartment"
  Resources/Locale/en-US/_Harmony/store/categories.ftl
  Resources/Locale/en-US/_Harmony/store/pai-catalog.ftl
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/_Harmony/Actions/pAI.yml
  Resources/Prototypes/_Harmony/Catalog/pAI_catalog.yml
  Resources/Prototypes/_Harmony/Store/categories.yml
  Resources/Prototypes/_Harmony/tags.yml
Labels: Maintenance, S: Maintainer Approval

#673 E.A.R Pt. 2: Adds the Blood-Red Energy Carbine, and Jailbroken Energy Cartridge
  Resources/Locale/en-US/_Harmony/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Harmony/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Harmony/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Ammunition/Magazines/energycartridges.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Projectiles/impacts.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Harmony/tags.yml
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/Carbine/jailbroken.rsi/base.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/Carbine/jailbroken.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/Carbine/jailbroken.rsi/mag-1.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/Carbine/jailbroken.rsi/mag-2.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/Carbine/jailbroken.rsi/mag-3.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/Carbine/jailbroken.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/blood-red_energy_carbine.rsi/base.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/blood-red_energy_carbine.rsi/equipped-BACKPACK.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/blood-red_energy_carbine.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/blood-red_energy_carbine.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/blood-red_energy_carbine.rsi/inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/blood-red_energy_carbine.rsi/inhand-right.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/blood-red_energy_carbine.rsi/mag-unshaded-0.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/blood-red_energy_carbine.rsi/mag-unshaded-1.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/blood-red_energy_carbine.rsi/mag-unshaded-2.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/blood-red_energy_carbine.rsi/mag-unshaded-3.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/blood-red_energy_carbine.rsi/mag-unshaded-4.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/blood-red_energy_carbine.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/blood-red_energy_carbine.rsi/wielded-inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/blood-red_energy_carbine.rsi/wielded-inhand-right.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Projectiles/shock_projectile.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Projectiles/shock_projectile.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Maintainer Approval, S: Admin Approval, S: Art Approval

#737 Adds Senior Salvage items
  Resources/Locale/en-US/_Harmony/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Harmony/Loadouts/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/_Harmony/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Harmony/Recipes/Lathes/clothing.yml
  Resources/Textures/Objects/Devices/pda.rsi/harmony-pda-seniorminer.png
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/Cloaks/seniorsalvcloak.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/Cloaks/seniorsalvcloak.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/Cloaks/seniorsalvcloak.rsi/meta.json
Labels: Changes: Sprites, S: Maintainer Approval

#721 Quartermaster's Hardsuit
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/qmsuit.rsi/equipped-head-light-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/qmsuit.rsi/equipped-head-light.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/qmsuit.rsi/equipped-head-unshaded-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/qmsuit.rsi/equipped-head-unshaded.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/qmsuit.rsi/equipped-head-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/qmsuit.rsi/equipped-head.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/qmsuit.rsi/icon-flash.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/qmsuit.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/qmsuit.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/qmsuit.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/qmsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/qmsuit.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/qmsuit.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/qmsuit.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/qmsuit.rsi/meta.json
Labels: Changes: Sprites, S: Maintainer Approval

#789 Barratry update - sentries, ore silo, and salvage job board.
  Resources/Maps/_Harmony/barratry.yml
Labels: Changes: Map, S: Needs Review

#790 Prime Update - Sentries and Higher starting players.
  Resources/Maps/_Harmony/prime.yml
  Resources/Prototypes/_Harmony/Maps/prime.yml
Labels: Changes: Map, S: Needs Review

#792 Fix salvage specialists spawning with 2 PDAs
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
Labels: S: Needs Review, Bugfix

#779 Multitool Retexture
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Textures/_Harmony/Objects/Tools/multitool.rsi/equipped-BELT.png
  Resources/Textures/_Harmony/Objects/Tools/multitool.rsi/green-inhand-left.png
  Resources/Textures/_Harmony/Objects/Tools/multitool.rsi/green-inhand-right.png
  Resources/Textures/_Harmony/Objects/Tools/multitool.rsi/green-unlit.png
  Resources/Textures/_Harmony/Objects/Tools/multitool.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Tools/multitool.rsi/inhand-left.png
  Resources/Textures/_Harmony/Objects/Tools/multitool.rsi/inhand-right.png
  Resources/Textures/_Harmony/Objects/Tools/multitool.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Tools/multitool.rsi/red-inhand-left.png
  Resources/Textures/_Harmony/Objects/Tools/multitool.rsi/red-inhand-right.png
  Resources/Textures/_Harmony/Objects/Tools/multitool.rsi/red-unlit.png
  Resources/Textures/_Harmony/Objects/Tools/multitool.rsi/yellow-inhand-left.png
  Resources/Textures/_Harmony/Objects/Tools/multitool.rsi/yellow-inhand-right.png
  Resources/Textures/_Harmony/Objects/Tools/multitool.rsi/yellow-unlit.png
Labels: Changes: Sprites, S: Needs Review, S: Maintainer Approval, S: Art Approval

#795 "Harmony Scrapbook" Lobby Art, On Behalf Of Bi0nix.
  Resources/Prototypes/_Harmony/lobbyscreens.yml
  Resources/Textures/_Harmony/LobbyScreens/attributions.yml
  Resources/Textures/_Harmony/LobbyScreens/harmonyscrapbook.webp
  Resources/Textures/_Harmony/LobbyScreens/harmonyscrapbook.webp.yml
Labels: S: Maintainer Approval, S: Art Approval

#803 Barratry update - Layered pipes
  Resources/Maps/_Harmony/barratry.yml
Labels: Changes: Map, S: Needs Review

#811 Changelog20250628
  Resources/Changelog/Harmony.yml
Labels: S: Needs Review, Maintenance

#815 Changelog20250630
  Resources/Changelog/Harmony.yml
Labels: S: Needs Review, Maintenance
