Repository ss14-harmony/ss14-harmony, pull requests merged in 2025-05, with the labels that each got.

#565 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Maintenance, S: Approved by Maintainer

#458 Engineering hardsuits Resprites
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head-light-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head-light.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head-unshaded-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head-unshaded.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/atmospherics.rsi/icon-flash.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/atmospherics.rsi/icon-unshaded.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/atmospherics.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/atmospherics.rsi/light-overlay.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/atmospherics.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering-white.rsi/equipped-head-light-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering-white.rsi/equipped-head-light.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering-white.rsi/equipped-head-unshaded-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering-white.rsi/equipped-head-unshaded.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering-white.rsi/equipped-head-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering-white.rsi/equipped-head.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering-white.rsi/icon-flash.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering-white.rsi/icon-unshaded.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering-white.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering-white.rsi/light-overlay.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering-white.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering.rsi/equipped-head-light-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering.rsi/equipped-head-light.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering.rsi/equipped-head-unshaded-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering.rsi/equipped-head-unshaded.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering.rsi/equipped-head-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering.rsi/equipped-head.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering.rsi/icon-flash.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering.rsi/icon-unshaded.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering.rsi/light-overlay.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/engineering.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/engineering.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/engineering.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/engineering.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/engineering.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/engineering.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review

#362 Adds the Energy Carbine
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Harmony/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Ammunition/Magazines/energycartridges.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Projectiles/impacts.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Harmony/Recipes/Lathes/security.yml
  Resources/Prototypes/_Harmony/explosion.yml
  Resources/Prototypes/_Harmony/tags.yml
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/RiffleCartridges/harm-large.rsi/base.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/RiffleCartridges/harm-large.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/RiffleCartridges/harm-large.rsi/mag-1.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/RiffleCartridges/harm-large.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/RiffleCartridges/harm.rsi/base.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/RiffleCartridges/harm.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/RiffleCartridges/harm.rsi/mag-1.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/RiffleCartridges/harm.rsi/mag-2.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/RiffleCartridges/harm.rsi/mag-3.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/RiffleCartridges/harm.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/RiffleCartridges/rads.rsi/base.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/RiffleCartridges/rads.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/RiffleCartridges/rads.rsi/mag-1.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/RiffleCartridges/rads.rsi/mag-2.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/RiffleCartridges/rads.rsi/mag-3.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/RiffleCartridges/rads.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/base.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/equipped-BACKPACK.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/inhand-right.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/mag-unshaded-0.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/mag-unshaded-1.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/mag-unshaded-2.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/mag-unshaded-3.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/mag-unshaded-4.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/wielded-inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/wielded-inhand-right.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Projectiles/large_projectile.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Projectiles/large_projectile.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Projectiles/laser_projectile.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Projectiles/laser_projectile.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Projectiles/xray_projectile.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Projectiles/xray_projectile.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review

#466 Resprite Head of Security's Winter Coat
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Textures/_Harmony/Clothing/Head/Hoods/Coat/hoodhos.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Hoods/Coat/hoodhos.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hoods/Coat/hoodhos.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/OuterClothing/WinterCoats/coathosarmored.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/WinterCoats/coathosarmored.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/WinterCoats/coathosarmored.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/WinterCoats/coathosarmored.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/WinterCoats/coathosarmored.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/WinterCoats/coathosarmored.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review

#507 Resprites Security Jumpsuits, Jumpskirts, Warden Coat, and Helmet
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Textures/_Harmony/Clothing/Head/Helmets/security.rsi/equipped-HELMET-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Helmets/security.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Helmets/security.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Helmets/security.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Head/Helmets/security.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Head/Helmets/security.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Head/Hoods/Coat/hoodward.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Hoods/Coat/hoodward.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/warden.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/warden.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/warden.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/warden.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Coats/warden.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/WinterCoats/coatwardenarmored.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/WinterCoats/coatwardenarmored.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/WinterCoats/coatwardenarmored.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/WinterCoats/coatwardenarmored.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/WinterCoats/coatwardenarmored.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/hos.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/hos.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/hos.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/hos.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/hos.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/security.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/security.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/security.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/security.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/security.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/senior_officer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/senior_officer.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/senior_officer.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/senior_officer.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/senior_officer.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/warden.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/warden.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/warden.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/warden.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/warden.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hos.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hos.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hos.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hos.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/hos.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/security.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/security.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/security.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/security.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/security.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/senior_officer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/senior_officer.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/senior_officer.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/senior_officer.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/senior_officer.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/warden.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/warden.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/warden.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/warden.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/warden.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review

#511 Added the cane to loadouts.
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Harmony/Loadouts/Miscellaneous/trinkets.yml
Labels: Changes: No C#, S: Needs Review

#406 Magnum Speedloaders are now 1x1 (My totally original idea)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/magnum.yml
Labels: Changes: No C#, S: Needs Review, S: Approved by Admin Team

#462 Resprites bartender and musician suits
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/bartender.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/bartender.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/bartender.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/bartender.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/bartender.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/bartender.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/musician.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/musician.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/musician.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/musician.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/musician.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/musician.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/bartender.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/bartender.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/bartender.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/bartender.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/bartender.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/bartender.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/musician.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/musician.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/musician.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/musician.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/musician.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/musician.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review

#509 Rebalance Surplus Blacklist
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: No C#, S: Needs Review

#506 The Sluggening
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
Labels: Changes: No C#, S: Needs Review

#495 makes goliath cloaks craftable
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_Harmony/Recipes/Construction/Graphs/clothing/goliath_cloak.yml
  Resources/Prototypes/_Harmony/Recipes/Construction/clothing.yml
Labels: Changes: No C#, S: Needs Review

#555 Gives Barozine its Own Vestine-Based Recipe
  Resources/Prototypes/_Harmony/Recipes/Reactions/medicine.yml
Labels: Changes: No C#, S: Needs Review

#457 Added raid suit to traitor's uplink
  Resources/Prototypes/_Harmony/Catalog/uplink_catalog.yml
Labels: Changes: No C#, S: Needs Review

#554 Gives the Bandolier Actual Belt Storage Slots for Shotgun Shells
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: Changes: No C#, S: Needs Review

#543 Added AstroNav to syndicate & syndicate agent PDAs
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Changes: No C#, S: Needs Review

#568 Tests are great
  Resources/Prototypes/_Harmony/Catalog/uplink_catalog.yml
Labels: Changes: No C#, S: Needs Review, Maintenance, Urgent

#420 Unrevivable and uncloneable split
  Content.Server/Traits/Assorted/UnrevivableSystem.cs
  Content.Server/_Harmony/Uncloneable/UncloneableComponent.cs
  Content.Server/_Harmony/Uncloneable/UncloneableSystem.cs
  Resources/Locale/en-US/_Harmony/traits/traits.ftl
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
  Resources/Prototypes/_Harmony/Traits/disabilities.yml
Labels: S: Approved by Maintainer

#434 Changed Kammerer sound
  Resources/Audio/_Harmony/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_Harmony/Weapons/Guns/Gunshots/kammerer_shot.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: Changes: No C#, S: Needs Review, Changes: Audio

#436 Allow Fireaxe to pry hull plating
  Resources/Locale/en-US/_Harmony/tools/tool-qualities.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Tiles/plating.yml
  Resources/Prototypes/_Harmony/tool-qualities.yml
Labels: Changes: No C#, S: Approved by Maintainer, S: Approved by Admin Team

#452 Lanyard Part 2
  Content.Shared/Examine/ExamineSystemShared.cs
  Content.Shared/Labels/EntitySystems/LabelSystem.cs
  Resources/Locale/en-US/_Harmony/label/paper-label-component.ftl
Labels: S: Approved by Maintainer

#477 Added interdyne defib as a separate purchase for nukies
  Resources/Locale/en-US/_Harmony/store/uplink-catalog.ftl
  Resources/Prototypes/_Harmony/Catalog/uplink_catalog.yml
Labels: Changes: No C#, S: Approved by Maintainer, S: Approved by Admin Team

#479 Traitor tweaks
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
Labels: Changes: No C#, S: Approved by Maintainer, S: Approved by Admin Team

#486 Adds Sponsored By Syndicate by mrjajkes to the nuke music pool
  Resources/Audio/_Harmony/StationEvents/attributions.yml
  Resources/Audio/_Harmony/StationEvents/sponsored_by_syndicate.ogg
  Resources/Prototypes/SoundCollections/NukeMusic.yml
Labels: Changes: No C#, S: Approved by Maintainer, Changes: Audio

#367 Make the examine menu no longer tell prisoners they are allowed to have security contraband
  Content.Shared/Access/Components/IdCardComponent.cs
  Content.Shared/Access/Systems/SharedIdCardSystem.cs
  Content.Shared/Contraband/ContrabandSystem.cs
  Content.Shared/Roles/JobPrototype.cs
  Resources/Prototypes/_Harmony/Roles/Jobs/Security/perma_prisoner.yml
Labels: S: Approved by Maintainer, Bugfix

#573 Changelog update 20250501 v2
  Resources/Changelog/Harmony.yml
Labels: Maintenance, S: Approved by Maintainer

#571 Fix trinket comments
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: Changes: No C#, S: Approved by Maintainer

#567 Disable Three Lobby Tracks
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: Changes: No C#, S: Needs Review

#575 Admin Shuttle Cleanup
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Harmony/Shuttles/AdminShuttles/CC-transport-small.yml
  Resources/Maps/_Harmony/Shuttles/AdminShuttles/ERT-engineering-large.yml
  Resources/Maps/_Harmony/Shuttles/AdminShuttles/janitor-small.yml
  Resources/Maps/_Harmony/Shuttles/AdminShuttles/large-Base.yml
  Resources/Maps/_Harmony/Shuttles/AdminShuttles/medium-Base.yml
  Resources/Maps/_Harmony/Shuttles/AdminShuttles/small-Base.yml
  Resources/Maps/_Harmony/Shuttles/AdminShuttles/transport-small.yml
  Resources/Maps/_Harmony/Shuttles/ERT-chaplain-medium.yml
  Resources/Maps/_Harmony/Shuttles/ERT-janitor-small.yml
  Resources/Maps/_Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Large-Med-Sec.yml
  Resources/Maps/_Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Medium-BasePlus.yml
  Resources/Maps/_Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Medium-Eng-Jani.yml
  Resources/Maps/_Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Medium-Med.yml
  Resources/Maps/_Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Medium-Sec.yml
  Resources/Maps/_Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Small-CBURN.yml
  Resources/Maps/_Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Small-Deathsquad.yml
  Resources/Maps/_Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Small-Eng.yml
  Resources/Maps/_Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Small-Jani.yml
  Resources/Maps/_Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Small-Med.yml
  Resources/Maps/_Harmony/Shuttles/WizDen-ERT-Shuttles/ERT-Small-Sec.yml
  Resources/Maps/_Harmony/Shuttles/deathsquad-medium.yml
  Resources/Maps/_Harmony/Shuttles/syndicate-diplomacy.yml
  Resources/Maps/_Harmony/Shuttles/syndicate-dropship.yml
  Resources/Maps/_Harmony/Shuttles/syndicate-paramedic.yml
  Resources/Maps/_Harmony/Shuttles/syndicate-weapondealer.yml
Labels: Changes: Map, S: Approved by Maintainer

#546 Prisoner spawn refactor
  Resources/Prototypes/Entities/Objects/Devices/station_beacon.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/gate.yml
  Resources/Prototypes/Maps/plasma.yml
  Resources/Prototypes/_Harmony/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/amber.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/aspid.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/bagel.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/barratry.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/box.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/convex.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/core.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/eclipse.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/elkridge.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/fland.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/gate.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/loop.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/marathon.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/meta.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/plasma.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/xeno.yml
  Resources/Prototypes/_Harmony/Maps/xeno.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review

#576 CentComm Update
  Resources/Maps/_Harmony/centcomm.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review

#547 Ioned Ai
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Changes: No C#, S: Approved by Maintainer, S: Approved by Admin Team

#516 Make cluwnes revivable
  Content.Server/Cluwne/CluwneSystem.cs
Labels: S: Approved by Maintainer

#579 Buffed Hyperzine
  Resources/Prototypes/Reagents/narcotics.yml
Labels: Changes: No C#, S: Approved by Maintainer, S: Approved by Admin Team

#581 Changelog20250502
  Resources/Changelog/Harmony.yml
Labels: Maintenance

#584 Energy Cartridges Can Now Fit in Sec Belts
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: Changes: No C#, S: Approved by Maintainer

#586 Kammerer sound fix
  Resources/Audio/_Harmony/Weapons/Guns/Gunshots/kammerer_shot.ogg
Labels: Changes: No C#, S: Approved by Maintainer, Changes: Audio, Bugfix

#485 Removes pipe coloring cooldown from spray painter
  Resources/Prototypes/Entities/Objects/Tools/spray_painter.yml
Labels: Changes: No C#, S: Approved by Maintainer

#386 Add Phoron will make us rich to the jukebox
  Resources/Audio/_Harmony/Jukebox/Phoron.ogg
  Resources/Audio/_Harmony/Jukebox/attributions.yml
  Resources/Prototypes/_Harmony/Catalog/Jukebox/standard.yml
Labels: Changes: No C#, S: Approved by Maintainer, Changes: Audio

#583 In-hands and icons for Palourde89 hardsuit resprite and Brig Medic
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/brigmedic.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/brigmedic.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/brigmedic.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/brigmedic.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/engineering.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/engineering.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/engineering.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/engineering.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/syndicate.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/syndicate.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/syndicate.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/syndicate.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/syndiecommander.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/syndiecommander.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/syndiecommander.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/syndiecommander.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/syndiemedic.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/syndiemedic.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/syndiemedic.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/syndiemedic.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review

#585 Cmo goggles ham edition
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Eyes/glasses.yml
  Resources/Textures/_Harmony/Clothing/Eyes/Glasses/cmo.rsi/equipped-EYES-arachnid.png
  Resources/Textures/_Harmony/Clothing/Eyes/Glasses/cmo.rsi/equipped-EYES-moth.png
  Resources/Textures/_Harmony/Clothing/Eyes/Glasses/cmo.rsi/equipped-EYES.png
  Resources/Textures/_Harmony/Clothing/Eyes/Glasses/cmo.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Eyes/Glasses/cmo.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Eyes/Glasses/cmo.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Eyes/Glasses/cmo.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, S: Approved by Admin Team

#594 Changelog20250505
  Resources/Changelog/Harmony.yml
Labels: Changes: No C#, S: Needs Review

#590 Atlas Engineering Update
  Resources/Maps/_Harmony/atlas.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review

#574 Add the Valley Girl accent smite
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/_LateStation/Speech/Components/ValleyGirlAccentComponent.cs
  Content.Server/_LateStation/Speech/EntitySystems/ValleyGirlAccentSystem.cs
  Resources/Locale/en-US/_Harmony/administration/smites.ftl
  Resources/Locale/en-US/_LateStation/accents/valleygirl.ftl
  Resources/Prototypes/_LateStation/Accents/word_replacements.yml
Labels: S: Approved by Maintainer

#596 Make ion storms affect the AI less often
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Changes: No C#, S: Approved by Maintainer, S: Approved by Admin Team

#502 PAI's deal blunt damage when thrown
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
Labels: Changes: No C#, S: Needs Review, S: Approved by Maintainer, S: Approved by Admin Team

#521 Thirst trap
  Resources/Locale/en-US/_Harmony/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_Harmony/reagents/meta/consumable/drink/soda.ftl
  Resources/Prototypes/_Harmony/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_Harmony/Flavors/flavors.yml
  Resources/Prototypes/_Harmony/Reagents/Consumable/Drink/soda.yml
  Resources/Prototypes/_Harmony/Recipes/Reactions/drinks.yml
  Resources/Textures/_Harmony/Objects/Consumable/Drinks/thirst-trap.rsi/fill-1.png
  Resources/Textures/_Harmony/Objects/Consumable/Drinks/thirst-trap.rsi/fill-2.png
  Resources/Textures/_Harmony/Objects/Consumable/Drinks/thirst-trap.rsi/fill-3.png
  Resources/Textures/_Harmony/Objects/Consumable/Drinks/thirst-trap.rsi/fill-4.png
  Resources/Textures/_Harmony/Objects/Consumable/Drinks/thirst-trap.rsi/fill-5.png
  Resources/Textures/_Harmony/Objects/Consumable/Drinks/thirst-trap.rsi/fill-6.png
  Resources/Textures/_Harmony/Objects/Consumable/Drinks/thirst-trap.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Consumable/Drinks/thirst-trap.rsi/icon_empty.png
  Resources/Textures/_Harmony/Objects/Consumable/Drinks/thirst-trap.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review

#602 Changelog20250509
  Resources/Changelog/Harmony.yml
Labels: Maintenance

#605 Fix cargo seniority item timers
  Resources/Prototypes/_Harmony/Loadouts/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/_Harmony/Loadouts/Jobs/Civilian/librarian.yml
Labels: Changes: No C#, S: Approved by Maintainer, Bugfix

#540 Increases uplink TC amount and Removes round-start Blood-Reds from Nuclear Operatives
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
Labels: Changes: No C#, S: Approved by Maintainer, S: Approved by Admin Team

#608 Fix ERT hardsuit helmets
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
Labels: Changes: No C#, S: Approved by Maintainer, Bugfix

#597 Ported Very Lightweight and Heavyweight drunk traits from Cosmic Drifts
  Resources/Locale/en-US/_CD/traits/traits.ftl
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
  Resources/Prototypes/Traits/quirks.yml
  Resources/Prototypes/_CD/Traits/categories.yml
  Resources/Prototypes/_CD/Traits/traits.yml
Labels: Changes: No C#, S: Needs Review

#612 Changelog20250512
  Resources/Changelog/Harmony.yml
Labels: Maintenance

#615 Fix master being broken.
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
Labels: Changes: No C#, S: Approved by Maintainer, Urgent

#499 Added New End Of Round Voice Clips
  Resources/Audio/_Harmony/Announcements/RoundEnd/attributions.yml
  Resources/Audio/_Harmony/Announcements/RoundEnd/done.ogg
  Resources/Audio/_Harmony/Announcements/RoundEnd/jail.ogg
  Resources/Audio/_Harmony/Announcements/RoundEnd/robusted.ogg
  Resources/Prototypes/SoundCollections/announcements.yml
Labels: Changes: No C#, S: Needs Review, Changes: Audio

#604 Fix in-game rulebooks + cleanup rules.
  Content.Client/UserInterface/Systems/Info/InfoUIController.cs
  Resources/Locale/en-US/_Harmony/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/command.yml
  Resources/Prototypes/Guidebook/rules.yml
  Resources/Prototypes/Guidebook/security.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Misc/books.yml
  Resources/Prototypes/_Harmony/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyS1.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyS10.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyS2.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyS3.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyS4.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyS5.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyS6.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyS7.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyS8.xml
  Resources/ServerInfo/Guidebook/ServerRules/HarmonyRules/HarmonyS9.xml
  Resources/ServerInfo/_Harmony/Guidebook/ServerRules/HarmonyRules/HarmonyR0.xml
  Resources/ServerInfo/_Harmony/Guidebook/ServerRules/HarmonyRules/HarmonyR1.xml
  Resources/ServerInfo/_Harmony/Guidebook/ServerRules/HarmonyRules/HarmonyR2.xml
  Resources/ServerInfo/_Harmony/Guidebook/ServerRules/HarmonyRules/HarmonyR3.xml
  Resources/ServerInfo/_Harmony/Guidebook/ServerRules/HarmonyRules/HarmonyR4.xml
  Resources/ServerInfo/_Harmony/Guidebook/ServerRules/HarmonyRules/HarmonyR5.xml
  Resources/ServerInfo/_Harmony/Guidebook/ServerRules/HarmonyRules/HarmonyR6.xml
  Resources/ServerInfo/_Harmony/Guidebook/ServerRules/HarmonyRules/HarmonyR7.xml
  Resources/ServerInfo/_Harmony/Guidebook/ServerRules/HarmonyRules/HarmonyR8.xml
  Resources/ServerInfo/_Harmony/Guidebook/ServerRules/HarmonyRules/HarmonyRules.xml
  Resources/ServerInfo/_Harmony/Guidebook/ServerRules/HarmonyRules/HarmonyS1.xml
  Resources/ServerInfo/_Harmony/Guidebook/ServerRules/HarmonyRules/HarmonyS2.xml
  Resources/ServerInfo/_Harmony/Guidebook/ServerRules/HarmonyRules/HarmonyS3.xml
  Resources/ServerInfo/_Harmony/Guidebook/ServerRules/SpaceLaw/HarmonySLCrimeList.xml
  Resources/ServerInfo/_Harmony/Guidebook/ServerRules/SpaceLaw/HarmonySpaceLaw.xml
  Resources/ServerInfo/_Harmony/Guidebook/ServerRules/StandardOperatingProcedure/HarmonyOperatingProcedure.xml
  Resources/Textures/Objects/Misc/books.rsi/icon_sop_harmony.png
  Resources/Textures/Objects/Misc/books.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review

#620 Floodlights in Engi-vend
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
Labels: Changes: No C#, S: Approved by Maintainer

#617 Raise the amount of minimum players it takes to spawn a wizard.
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/subgamemodes.yml
Labels: Changes: No C#, S: Approved by Maintainer, S: Approved by Admin Team

#624 Aspid Update
  Resources/Maps/_Harmony/aspid.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/aspid.yml
  Resources/Prototypes/_Harmony/Maps/aspid.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review

#618 The Noctening - Increases nocturine price, decreases hypopen price
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: No C#, S: Approved by Maintainer, S: Approved by Admin Team

#625 Early merge for hotfixes
  Content.Server/Shuttles/Components/ShuttleComponent.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
  Content.Shared/Anomaly/SharedAnomalySystem.cs
  Content.Shared/Movement/Events/TileFrictionEvent.cs
  Content.Shared/Movement/Systems/SharedMoverController.Input.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
Labels: Maintenance, Bugfix

#607 Resprites the janitor jumpsuit and skirt
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/janitor.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/janitor.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/janitor.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/janitor.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/janitor.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/janitor.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/janitor.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/janitor.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/janitor.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/janitor.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/janitor.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/janitor.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review

#412 Reduced minimal nukie count for war declaration
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: No C#, S: Approved by Maintainer, S: Approved by Admin Team

#626 Changelog20250516
  Resources/Changelog/Harmony.yml
Labels: Maintenance

#490 make pizza bomb actually work
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/_Harmony/Explosion/Components/TriggerOnUiOpenComponent.cs
  Content.Server/_Harmony/Explosion/EntitySystems/TriggerSystem.OnUiOpen.cs
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Bombs/pizzabomb.yml
  Resources/Textures/_Harmony/Objects/Weapons/Bombs/Pizzabomb.rsi/box-open.png
  Resources/Textures/_Harmony/Objects/Weapons/Bombs/Pizzabomb.rsi/box.png
  Resources/Textures/_Harmony/Objects/Weapons/Bombs/Pizzabomb.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review

#559 Downstream the colored turtlenecks originally done by Ko4ergaPunk
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Uniforms/color_turtlenecks.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Uniforms/color_turtlenecks_skirt.yml
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/color_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/color_turtle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/color_turtle.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/color_turtle.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/color_turtle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/color_turtle.rsi/skirt-equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/color_turtle.rsi/skirt-icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/color_turtle.rsi/skirt-inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/color_turtle.rsi/skirt-inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/color_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/color_turtle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/color_turtle.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/color_turtle.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/color_turtle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/color_turtle.rsi/trousers-equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/color_turtle.rsi/trousers-icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/color_turtle.rsi/trousers-inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/color_turtle.rsi/trousers-inhand-right.png
Labels: Changes: No C#, Changes: Sprites, S: Needs Review

#557 Chameleon LGBTQ+ Mantles
  Resources/Prototypes/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Neck/base_clothingneck.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Neck/specific.yml
  Resources/Prototypes/_Harmony/tags.yml
  Resources/Textures/_Harmony/Clothing/Neck/mantles/acemantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/acemantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/acemantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/aroacemantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/aroacemantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/aroacemantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/aromantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/aromantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/aromantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/bisexualmantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/bisexualmantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/bisexualmantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/enbymantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/enbymantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/enbymantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/gaymantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/gaymantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/gaymantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/intersexmantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/intersexmantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/intersexmantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/lesbianmantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/lesbianmantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/lesbianmantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/pansexualmantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/pansexualmantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/pansexualmantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/rainbowmantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/rainbowmantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/rainbowmantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/transgendermantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/transgendermantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/transgendermantle.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review

#635 Changelog20250519
  Resources/Changelog/Harmony.yml
Labels: Maintenance

#636 Fix amber prisoner spawning
  Resources/Prototypes/_Harmony/Maps/Modifications/amber.yml
Labels: Changes: No C#, Changes: Map, S: Approved by Maintainer, Bugfix

#637 Orbital Prime
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Harmony/Shuttles/emergency_jeremiah.yml
  Resources/Maps/_Harmony/prime.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Harmony/Maps/prime.yml
Labels: Changes: Map, S: Needs Review

#639 Resprites the Energy Carbine and Energy Cartridges
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/RiffleCartridges/harm-large.rsi/base.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/RiffleCartridges/harm-large.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/RiffleCartridges/harm.rsi/base.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/RiffleCartridges/harm.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/RiffleCartridges/rads.rsi/base.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/RiffleCartridges/rads.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/base.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/equipped-BACKPACK.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/inhand-right.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/mag-unshaded-0.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/mag-unshaded-1.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/mag-unshaded-2.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/mag-unshaded-3.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/mag-unshaded-4.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/wielded-inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/laser_carbine.rsi/wielded-inhand-right.png
Labels: Changes: No C#, Changes: Sprites, S: Needs Review

#646 Changelog20250521
  Resources/Changelog/Harmony.yml
Labels: S: Needs Review, Maintenance

#610 E.A.R pt. 3: Gives the HoS the Energy Magnum and Gives the Warden the Energy Shotgun
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/energy_magnum.rsi/icon-unshaded.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/energy_magnum.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/energy_magnum.rsi/inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/energy_magnum.rsi/inhand-right.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/energy_magnum.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Projectiles/piercing_projectile.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Projectiles/piercing_projectile.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved by Admin Team

#653 Clean up PostMapInitTest.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
Labels: Maintenance

#656 Changelog20250523
  Resources/Changelog/Harmony.yml
Labels: Maintenance

#658 New engineering hardsuits recolor
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head-light-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head-light.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head-unshaded-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head-unshaded.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering-white.rsi/equipped-head-light-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering-white.rsi/equipped-head-light.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering-white.rsi/equipped-head-unshaded-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering-white.rsi/equipped-head-unshaded.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering-white.rsi/equipped-head-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering-white.rsi/equipped-head.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering-white.rsi/icon-flash.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering-white.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering.rsi/equipped-head-light-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering.rsi/equipped-head-light.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering.rsi/equipped-head-unshaded-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering.rsi/equipped-head-unshaded.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering.rsi/equipped-head-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/engineering.rsi/equipped-head.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/engineering.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/engineering.rsi/equipped-OUTERCLOTHING.png
Labels: Changes: No C#, Changes: Sprites

#662 Give admin bags explosion resistance
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Back/satchel.yml
Labels: Changes: No C#, S: Approved by Maintainer, S: Approved by Admin Team

#642 Adds Shotgun Drums to the Uplink
  Resources/Locale/en-US/_Harmony/store/uplink-catalog.ftl
  Resources/Prototypes/_Harmony/Catalog/uplink_catalog.yml
Labels: Changes: No C#, S: Approved by Maintainer, S: Approved by Admin Team

#661 Mice Now Deal Damage one Blunt Damage When Thrown
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: No C#, S: Approved by Maintainer

#643 Upped Zombie Percent
  Resources/Prototypes/secret_weights.yml
Labels: Changes: No C#, S: Approved by Maintainer, S: Approved by Admin Team

#641 E.a.r pt. 1.5 Updates Misc Energy Carbine/Cartridge Things
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Harmony/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Ammunition/Magazines/energycartridges.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Harmony/Recipes/Lathes/security.yml
  Resources/Prototypes/_Harmony/tags.yml
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/Carbine/heat.rsi/base.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/Carbine/heat.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/Carbine/heat.rsi/mag-1.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/Carbine/heat.rsi/mag-2.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/Carbine/heat.rsi/mag-3.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/Carbine/heat.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/Carbine/unstable.rsi/base.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/Carbine/unstable.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/Carbine/unstable.rsi/mag-1.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/Carbine/unstable.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/Carbine/x-ray.rsi/base.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/Carbine/x-ray.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/Carbine/x-ray.rsi/mag-1.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/Carbine/x-ray.rsi/mag-2.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/Carbine/x-ray.rsi/mag-3.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazines/EnergyCartridges/Carbine/x-ray.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/energy_carbine.rsi/base.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/energy_carbine.rsi/equipped-BACKPACK.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/energy_carbine.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/energy_carbine.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/energy_carbine.rsi/inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/energy_carbine.rsi/inhand-right.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/energy_carbine.rsi/mag-unshaded-0.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/energy_carbine.rsi/mag-unshaded-1.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/energy_carbine.rsi/mag-unshaded-2.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/energy_carbine.rsi/mag-unshaded-3.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/energy_carbine.rsi/mag-unshaded-4.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/energy_carbine.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/energy_carbine.rsi/wielded-inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/energy_carbine.rsi/wielded-inhand-right.png
Labels: Changes: No C#, Changes: Sprites, S: Needs Review

#668 Energy Carbine inhands resprite
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/energy_carbine.rsi/inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/energy_carbine.rsi/inhand-right.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/energy_carbine.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/energy_carbine.rsi/wielded-inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Battery/energy_carbine.rsi/wielded-inhand-right.png
Labels: Changes: No C#, Changes: Sprites, S: Needs Review

#660 Recolored sprites for all nukies hardsuits
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/syndicate.rsi/equipped-head-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/syndicate.rsi/equipped-head.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/syndiecommander.rsi/equipped-head-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/syndiecommander.rsi/equipped-head.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/syndieelite.rsi/equipped-head-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/syndieelite.rsi/equipped-head.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/syndiemedic.rsi/equipped-head-vox.png
  Resources/Textures/_Harmony/Clothing/Head/Hardsuits/syndiemedic.rsi/equipped-head.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/syndicate.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/syndicate.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/syndiecommander.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/syndiecommander.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/syndiemedic.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Harmony/Clothing/OuterClothing/Hardsuits/syndiemedic.rsi/equipped-OUTERCLOTHING.png
Labels: Changes: No C#, Changes: Sprites

#623 Traitor's Delight Try 2: Miscellaneous Uplink Changes/Additions
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: No C#, S: Approved by Admin Team

#671 CODEOWNERS: Jajsha ownership of locale and Jajsha+Spanky ownership of server rules
  .github/CODEOWNERS
Labels: Maintenance, S: Approved by Maintainer

#675 Mira Genpop + Hotfixes and Feedback
  Resources/Maps/_Harmony/Shuttles/emergency_huyendo.yml
  Resources/Maps/_Harmony/mira.yml
Labels: Changes: No C#, Changes: Map

#678 Buffs Energy Magnum Recharge Rate
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: No C#, S: Needs Review

#677 Fixes Vent Lockout Sprite
  Resources/Textures/_Harmony/Structures/Piping/Atmospherics/vent.rsi/vent_lockout.png
Labels: Changes: No C#, Changes: Sprites, Bugfix

#682 Prime Feedback Edits
  Resources/Maps/_Harmony/prime.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review

#680 Resprites Janitor Gloves and Galoshes and updates Janitor jumpsuits
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/_Harmony/Recipes/Construction/Graphs/clothing/ducky_galoshes.yml
  Resources/Textures/_Harmony/Clothing/Hands/Gloves/janitor.rsi/equipped-HAND.png
  Resources/Textures/_Harmony/Clothing/Hands/Gloves/janitor.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Hands/Gloves/janitor.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Hands/Gloves/janitor.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Hands/Gloves/janitor.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Shoes/Specific/galoshes.rsi/equipped-FEET.png
  Resources/Textures/_Harmony/Clothing/Shoes/Specific/galoshes.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Shoes/Specific/galoshes.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Shoes/Specific/galoshes.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Shoes/Specific/galoshes.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpskirt/janitor.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/janitor.rsi/equipped-INNERCLOTHING.png
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, S: Art Approval

#534 Adds Mini Jetpacks to the Slavage Specialist Lockers
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
Labels: Changes: No C#, S: Needs Review, S: Maintainer Approval

#491 Made generator scrap able to be fultoned
  Resources/Prototypes/Entities/Objects/Materials/scrap.yml
Labels: Changes: No C#, S: Maintainer Approval

#679 Remove Old Poster
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_Harmony/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/_Harmony/Structures/Wallmounts/posters.rsi/harmony_poster7_legit.png
  Resources/Textures/_Harmony/Structures/Wallmounts/posters.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, S: Art Approval

#621 Add Science Pet Glorp
  Resources/Locale/en-US/_Harmony/interaction/interaction-popup-component.ftl
  Resources/Locale/en-US/_Harmony/objectives/conditions/steal-target-groups.ftl
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_Harmony/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_Harmony/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_Harmony/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_Harmony/Objectives/thief.yml
  Resources/Textures/_Harmony/Mobs/Pets/glorp.rsi/glorp.png
  Resources/Textures/_Harmony/Mobs/Pets/glorp.rsi/glorp_dead.png
  Resources/Textures/_Harmony/Mobs/Pets/glorp.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Maintainer Approval, S: Art Approval

#651 Adds the Syndicate business suit (new PR)
  Resources/Prototypes/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/syndiedrobe.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/syndie_business.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/syndie_business.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/syndie_business.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/syndie_business.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/syndie_business.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Uniforms/Jumpsuit/syndie_business.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Maintainer Approval, S: Art Approval

#683 Adds structural damage to the QM Knuckledusters
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
Labels: Changes: No C#, S: Maintainer Approval

#691 updates new vent and scrubber sprites
  Resources/Textures/_Harmony/Structures/Piping/Atmospherics/scrubber.rsi/meta.json
  Resources/Textures/_Harmony/Structures/Piping/Atmospherics/scrubber.rsi/scrub_off.png
  Resources/Textures/_Harmony/Structures/Piping/Atmospherics/scrubber.rsi/scrub_on.png
  Resources/Textures/_Harmony/Structures/Piping/Atmospherics/scrubber.rsi/scrub_purge.png
  Resources/Textures/_Harmony/Structures/Piping/Atmospherics/scrubber.rsi/scrub_welded.png
  Resources/Textures/_Harmony/Structures/Piping/Atmospherics/scrubber.rsi/scrub_wide.png
  Resources/Textures/_Harmony/Structures/Piping/Atmospherics/vent.rsi/meta.json
  Resources/Textures/_Harmony/Structures/Piping/Atmospherics/vent.rsi/vent_in.png
  Resources/Textures/_Harmony/Structures/Piping/Atmospherics/vent.rsi/vent_lockout.png
  Resources/Textures/_Harmony/Structures/Piping/Atmospherics/vent.rsi/vent_off.png
  Resources/Textures/_Harmony/Structures/Piping/Atmospherics/vent.rsi/vent_out.png
  Resources/Textures/_Harmony/Structures/Piping/Atmospherics/vent.rsi/vent_passive.png
  Resources/Textures/_Harmony/Structures/Piping/Atmospherics/vent.rsi/vent_welded.png
Labels: Changes: No C#, Changes: Sprites

#693 Changelog20250528
  Resources/Changelog/Harmony.yml
Labels: Maintenance

#695 Labeller tweaks
  .github/labeler.yml
  .github/workflows/labeler-pr.yml
Labels: Changes: No C#, Maintenance, S: Maintainer Approval

#697 Fix Secred Door Sprites
  Resources/Textures/_Harmony/Structures/Doors/secret_door.rsi/assembly.png
  Resources/Textures/_Harmony/Structures/Doors/secret_door.rsi/closed.png
  Resources/Textures/_Harmony/Structures/Doors/secret_door.rsi/closing.png
  Resources/Textures/_Harmony/Structures/Doors/secret_door.rsi/open.png
  Resources/Textures/_Harmony/Structures/Doors/secret_door.rsi/opening.png
Labels: Changes: Sprites, S: Needs Review

#440 Added Hushpup weapon to uplink
  Resources/Audio/_Harmony/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_Harmony/Weapons/Guns/Gunshots/hushpup_fire.ogg
  Resources/Locale/en-US/_Harmony/store/uplink-catalog.ftl
  Resources/Prototypes/_Harmony/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Harmony/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Shotguns/hushpup.rsi/bolt-open.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Shotguns/hushpup.rsi/equipped-BACKPACK.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Shotguns/hushpup.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Shotguns/hushpup.rsi/icon.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Shotguns/hushpup.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Shotguns/hushpup_inhands_64x.rsi/inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Shotguns/hushpup_inhands_64x.rsi/inhand-right.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Shotguns/hushpup_inhands_64x.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Shotguns/hushpup_inhands_64x.rsi/wielded-inhand-left.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Shotguns/hushpup_inhands_64x.rsi/wielded-inhand-right.png
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, Changes: Audio, S: Art Approval

#701 Gamer Emote Icons
  Resources/Prototypes/_Harmony/Actions/emotes.yml
  Resources/Textures/_Harmony/Interface/Emotes/attributions.yml
  Resources/Textures/_Harmony/Interface/Emotes/flip.png
  Resources/Textures/_Harmony/Interface/Emotes/jump.png
  Resources/Textures/_Harmony/Interface/Emotes/spin.png
Labels: S: Needs Review, S: Art Approval

#700 Jaunt II & III now allow you to use them when cuffed or down
  Resources/Prototypes/Actions/polymorph.yml
Labels: S: Maintainer Approval, S: Admin Approval

#708 Harmony Uplink Catalog Maintenance
  Resources/Prototypes/_Harmony/Catalog/uplink_catalog.yml
Labels: Maintenance, S: Maintainer Approval

#696 Adds AstroNav to QM PDA
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: S: Maintainer Approval

#336 You Can Now Beat People Up With a Microwave V2
  Resources/Prototypes/Entities/Structures/Machines/microwave.yml
  Resources/Prototypes/_Harmony/Entities/Structures/Machines/microwave.yml
  Resources/Textures/_Harmony/Structures/Machines/microwave.rsi/inhand-left.png
  Resources/Textures/_Harmony/Structures/Machines/microwave.rsi/inhand-right.png
  Resources/Textures/_Harmony/Structures/Machines/microwave.rsi/meta.json
  Resources/Textures/_Harmony/Structures/Machines/microwave_syndie.rsi/inhand-left.png
  Resources/Textures/_Harmony/Structures/Machines/microwave_syndie.rsi/inhand-right.png
  Resources/Textures/_Harmony/Structures/Machines/microwave_syndie.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Maintainer Approval, S: Admin Approval, S: Needs Art Review

#611 add black/white bows and purple headphones
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Neck/headphones.yml
  Resources/Textures/_Harmony/Clothing/Head/Hats/black_bow.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/black_bow.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/black_bow.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/black_bow.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/black_bow.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Head/Hats/white_bow.rsi/equipped-HELMET.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/white_bow.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/white_bow.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/white_bow.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Head/Hats/white_bow.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/Misc/headphones_purple_cat.rsi/icon-on.png
  Resources/Textures/_Harmony/Clothing/Neck/Misc/headphones_purple_cat.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/Misc/headphones_purple_cat.rsi/inhand-left.png
  Resources/Textures/_Harmony/Clothing/Neck/Misc/headphones_purple_cat.rsi/inhand-right.png
  Resources/Textures/_Harmony/Clothing/Neck/Misc/headphones_purple_cat.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/Misc/headphones_purple_cat.rsi/off-equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/Misc/headphones_purple_cat.rsi/on-equipped-NECK.png
Labels: Changes: No C#, Changes: Sprites, S: Maintainer Approval, S: Art Approval

#709 Updates Directional Windows
  Resources/Textures/_Harmony/Structures/Windows/directional.rsi/frosted_window.png
  Resources/Textures/_Harmony/Structures/Windows/directional.rsi/plasma_reinforced_window.png
  Resources/Textures/_Harmony/Structures/Windows/directional.rsi/plasma_window.png
  Resources/Textures/_Harmony/Structures/Windows/directional.rsi/reinforced_window.png
  Resources/Textures/_Harmony/Structures/Windows/directional.rsi/uranium_reinforced_window.png
  Resources/Textures/_Harmony/Structures/Windows/directional.rsi/uranium_window.png
  Resources/Textures/_Harmony/Structures/Windows/directional.rsi/window.png
Labels: Changes: Sprites
