Repository ss14-harmony/ss14-harmony, pull requests merged in 2025-08, with the labels that each got.

#931 Changelog20250801
  Resources/Changelog/Harmony.yml
Labels: S: Needs Review, Maintenance

#889 Harmony traits now clone properly (again)
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
Labels: S: Maintainer Approval

#560 All the accents
  Content.Server/_DV/Speech/Components/ScottishAccentComponent.cs
  Content.Server/_DV/Speech/EntitySystems/ScottishAccentSystem.cs
  Content.Server/_Harmony/Speech/Components/IrishAccentComponent.cs
  Content.Server/_Harmony/Speech/Components/ScandinavianAccentComponent.cs
  Content.Server/_Harmony/Speech/EntitySystems/IrishAccentSystem.cs
  Content.Server/_Harmony/Speech/EntitySystems/ScandinavianAccentSystem.cs
  Content.Server/_NF/Speech/Components/StreetpunkAccentComponent.cs
  Content.Server/_NF/Speech/EntitySystems/StreetpunkAccentSystem.cs
  Resources/Locale/en-US/_DV/accent/scottish.ftl
  Resources/Locale/en-US/_DV/traits/traits.ftl
  Resources/Locale/en-US/_Harmony/accent/irish.ftl
  Resources/Locale/en-US/_Harmony/accent/scandinavian.ftl
  Resources/Locale/en-US/_Harmony/traits/traits.ftl
  Resources/Locale/en-US/_NF/accent/streetpunk_accent.ftl
  Resources/Locale/en-US/_NF/traits/traits.ftl
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
  Resources/Prototypes/Traits/speech.yml
  Resources/Prototypes/_DV/Accents/word_replacements.yml
  Resources/Prototypes/_DV/Traits/neutral.yml
  Resources/Prototypes/_Harmony/Accents/word_replacements.yml
  Resources/Prototypes/_Harmony/Traits/speech.yml
  Resources/Prototypes/_NF/Accents/word_replacements.yml
  Resources/Prototypes/_NF/Traits/neutral.yml
Labels: S: Maintainer Approval, Port, Changes: C#

#939 Update rules concerning looses.
  Resources/ServerInfo/_Harmony/Guidebook/ServerRules/HarmonyRules/HarmonyR5.xml
Labels: Maintenance

#933 Add 58 new names to Avali.
  Resources/Locale/en-US/_CD/datasets/names/avali.ftl
  Resources/Prototypes/_CD/Datasets/Names/avali.yml
Labels: S: Needs Review

#940 Guidebook entry for Avali
  Resources/Prototypes/Guidebook/species.yml
  Resources/Prototypes/_Harmony/Guidebook/species.yml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
  Resources/ServerInfo/_Harmony/Guidebook/Mobs/Avali.xml
Labels: S: Needs Review

#944 Changelog20250804
  Resources/Changelog/Harmony.yml
Labels: S: Needs Review, Maintenance

#941 Avali chem changes
  Resources/Locale/en-US/_Harmony/metabolism/metabolizer-types.ftl
  Resources/Prototypes/Reagents/botany.yml
  Resources/Prototypes/Reagents/elements.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/_CD/Body/Prototypes/avali.yml
  Resources/Prototypes/_CD/Entities/Mobs/Species/avali.yml
  Resources/Prototypes/_Harmony/Body/Organs/avali.yml
  Resources/Prototypes/_Harmony/Chemistry/metabolizer_types.yml
  Resources/ServerInfo/_Harmony/Guidebook/Mobs/Avali.xml
Labels: S: Maintainer Approval

#839 Remove prisoners
  Resources/Locale/en-US/_Harmony/job/job-description.ftl
  Resources/Locale/en-US/_Harmony/preferences/loadout-groups.ftl
  Resources/Prototypes/Maps/amber.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/elkridge.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/plasma.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Harmony/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Harmony/Loadouts/Jobs/Security/perma_prisoner.yml
  Resources/Prototypes/_Harmony/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Harmony/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Harmony/Maps/Eclipse.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/amber.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/bagel.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/box.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/eclipse.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/elkridge.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/fland.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/marathon.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/oasis.yml
  Resources/Prototypes/_Harmony/Maps/Modifications/plasma.yml
  Resources/Prototypes/_Harmony/Maps/aspid.yml
  Resources/Prototypes/_Harmony/Maps/barratry.yml
  Resources/Prototypes/_Harmony/Maps/prime.yml
  Resources/Prototypes/_Harmony/Maps/spire.yml
  Resources/Prototypes/_Harmony/Roles/Jobs/Security/perma_prisoner.yml
  Resources/Textures/Objects/Devices/pda.rsi/harmony-pda-prisoner.png
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites, Changes: Map, S: Admin Approval, S: Art Approval

#953 Add the harmony maintainer guidelines
  docs/MAINTAINING.md
Labels: S: Needs Review, Maintenance

#950 Rename Blood Brother to Blood Bound Lite (Player Facing Only)
  Resources/Locale/en-US/_Harmony/administration/antag.ftl
  Resources/Locale/en-US/_Harmony/game-ticking/game-presets/preset-bloodbrother.ftl
  Resources/Locale/en-US/_Harmony/guidebook/guides.ftl
  Resources/Locale/en-US/_Harmony/mind/role-types.ftl
  Resources/Locale/en-US/_Harmony/prototypes/roles/antags.ftl
  Resources/Prototypes/_Harmony/Actions/blood_brothers.yml
  Resources/Prototypes/_Harmony/Objectives/bloodbrother.yml
  Resources/ServerInfo/Guidebook/Antagonist/Antagonists.xml
  Resources/ServerInfo/_Harmony/Guidebook/Antagonist/BloodBrothers.xml
Labels: S: Needs Review

#956 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Maintenance

#724 Changes tech disk printer sound
  Resources/Audio/_Harmony/Machines/attributions.yml
  Resources/Audio/_Harmony/Machines/printer_harmony.ogg
  Resources/Prototypes/Entities/Structures/Machines/Computers/techdiskterminal.yml
Labels: S: Needs Review, S: Maintainer Approval, Changes: Audio

#640 Cybersun Stealth Hardsuit Port
  Content.Shared/_Goobstation/Clothing/Components/ClothingGrantComponentComponent.cs
  Content.Shared/_Goobstation/Clothing/Components/ClothingGrantTagComponent.cs
  Content.Shared/_Goobstation/Clothing/Systems/ClothingGrantingSystem.cs
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/_Goobstation/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/icon-flash.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/off-equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/on-equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Awaiting Curator Input, Port, Changes: C#

#960 Changelog20250806
  Resources/Changelog/Harmony.yml
Labels: Maintenance

#961 Fix the cybersun stealth suit spamming errors when worn
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: S: Needs Review, Bugfix

#964 Merge hotfixes
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/screen.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/station_map.yml
Labels: Maintenance

#963 Ports the ability to mute species SFX from RMC14
  Content.Client/Options/UI/OptionsMenu.xaml
  Content.Client/Options/UI/OptionsMenu.xaml.cs
  Content.Client/_RMC14/UserInterface/Options/VoicelinesTab.xaml
  Content.Client/_RMC14/UserInterface/Options/VoicelinesTab.xaml.cs
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/Speech/SpeechNoiseSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.Emotes.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.Voicelines.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Voicelines/HumanoidVoicelinesSystem.cs
  Resources/Locale/en-US/_RMC14/ui.ftl
Labels: Changes: UI, S: Needs Review, S: Curator Approval, Changes: C#

#865 removes Estoc DMR from uplink
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: S: Needs Review

#862 fixes wrong lecter sprite on request computer
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
Labels: S: Maintainer Approval, Bugfix

#971 Changelog20250808
  Resources/Changelog/Harmony.yml
Labels: S: Needs Review, Maintenance

#863 Disables wizard midround
  Resources/Prototypes/GameRules/events.yml
Labels: S: Needs Review, S: Maintainer Approval, S: Curator Approval

#972 Prime Update - Minor tweaks
  Resources/Maps/_Harmony/prime.yml
Labels: Changes: Map, S: Needs Review

#826 Adds warden headset to warden locker
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Textures/_Harmony/Clothing/Ears/Headsets/warden.rsi/alt-equipped-EARS.png
  Resources/Textures/_Harmony/Clothing/Ears/Headsets/warden.rsi/equipped-EARS.png
  Resources/Textures/_Harmony/Clothing/Ears/Headsets/warden.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Ears/Headsets/warden.rsi/icon_alt.png
  Resources/Textures/_Harmony/Clothing/Ears/Headsets/warden.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Art Approval

#833 Adds announcement to inform of Extended rolling
  Content.Server/_Harmony/StationEvents/Components/EmptyRuleComponent.cs
  Content.Server/_Harmony/StationEvents/Events/EmptyRule.cs
  Resources/Locale/en-US/_Harmony/station-events/events/harmony-extended.ftl
  Resources/Prototypes/_Harmony/GameRules/roundstart.yml
  Resources/Prototypes/game_presets.yml
Labels: S: Maintainer Approval, S: Curator Approval, Changes: C#, P2: Raised

#711 Harmony Queue - Port from GoobStation
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/_Harmony/JoinQueue/JoinQueueManager.cs
  Content.Client/_Harmony/JoinQueue/QueueGui.xaml
  Content.Client/_Harmony/JoinQueue/QueueGui.xaml.cs
  Content.Client/_Harmony/JoinQueue/QueueState.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Database/UserDbDataManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/GameTicking/GameTicker.StatusShell.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Maps/GameMapManager.cs
  Content.Server/_Harmony/JoinQueue/JoinQueueManager.cs
  Content.Shared/_Harmony/CCVars/HCCVars.cs
  Content.Shared/_Harmony/JoinQueue/JoinQueueManagerInterface.cs
  Content.Shared/_Harmony/JoinQueue/QueueUpdateMessage.cs
  Resources/Locale/en-US/_Harmony/join-queue/queue-screen.ftl
Labels: Changes: UI, S: Maintainer Approval, S: Curator Approval, Port, Changes: C#, P2: Raised

#997 Changelog20250814
  Resources/Changelog/Harmony.yml
Labels: S: Needs Review, Maintenance

#992 Adds Athena Station
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Harmony/Shuttles/emergency_chariot.yml
  Resources/Maps/_Harmony/athena.yml
  Resources/Prototypes/_Harmony/Maps/athena.yml
Labels: Changes: Map, S: Needs Review, Changes: C#

#1002 Hotfix merge
  Content.IntegrationTests/AssemblyInfo.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Resources/Prototypes/Entities/Structures/Wallmounts/Switches/switch.yml
Labels: S: Needs Review, Maintenance, P1: High

#1004 Improve queue admin logging
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/_Harmony/JoinQueue/JoinQueueManager.cs
  Resources/Locale/en-US/_Harmony/queue/queue.ftl
Labels: S: Maintainer Approval, Changes: C#

#1007 Changelog20250815
  Resources/Changelog/Harmony.yml
Labels: S: Needs Review, Maintenance

#1008 Add a delay to the bananium
  Resources/Prototypes/Entities/Objects/Fun/bike_horn.yml
Labels: S: Needs Review

#1023 New Lobby Track - Get That Antag!
  Resources/Audio/_Harmony/Lobby/GetThatAntag!.ogg
  Resources/Audio/_Harmony/Lobby/attributions.yml
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: S: Needs Review, S: Maintainer Approval, Changes: Audio

#1018 Re-adds (an updated version of) Omega
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Harmony/omega.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Harmony/Maps/omega.yml
Labels: Changes: Map, S: Needs Review, Changes: C#
