Repository ss14-harmony/ss14-harmony, pull requests merged in 2025-07, with the labels that each got.

#781 Changes hristov firing sound
  Resources/Audio/_Harmony/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_Harmony/Weapons/Guns/Gunshots/hristov_fire_alt.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: S: Maintainer Approval, Changes: Audio

#827 Changelog20250703
  Resources/Changelog/Harmony.yml
Labels: S: Needs Review, Maintenance

#508 Added syndicate support cyborg for nukies
  Resources/Locale/en-US/_Harmony/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/_Harmony/store/uplink-catalog.ftl
  Resources/Prototypes/_Harmony/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Harmony/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/_Harmony/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Textures/_Harmony/Interface/Actions/actions_syndicate_borg.rsi/adv-diagnosis-module-syndicate.png
  Resources/Textures/_Harmony/Interface/Actions/actions_syndicate_borg.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Devices/communication.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Devices/communication.rsi/old-radio-borg-support.png
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, S: Maintainer Approval, S: Art Approval

#545 Wizard "Item Curse" Spell
  Content.Client/_Harmony/ItemCurse/ItemCurseSystem.cs
  Content.Server/_Harmony/ItemCurse/ItemCurseSystem.cs
  Content.Shared/_Harmony/ItemCurse/CurseMarkerComponent.cs
  Content.Shared/_Harmony/ItemCurse/ItemCurseComponent.cs
  Content.Shared/_Harmony/ItemCurse/ItemCurseEvents.cs
  Content.Shared/_Harmony/ItemCurse/SharedItemCurseSystem.cs
  Resources/Locale/en-US/_Harmony/item-curse/item-curse.ftl
  Resources/Locale/en-US/_Harmony/store/spellbook_catalog.ftl
  Resources/Prototypes/_Harmony/Catalog/spellbook_catalog.yml
  Resources/Prototypes/_Harmony/Magic/curse_spell.yml
  Resources/Textures/_Harmony/Objects/Magic/magicactions.rsi/item_curse.png
  Resources/Textures/_Harmony/Objects/Magic/magicactions.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Maintainer Approval, Changes: C#, S: Needs Art Review

#831 Adds DMR ammo to ammo bundle
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
Labels: S: Needs Review

#830 Changelog20250704
  Resources/Changelog/Harmony.yml
Labels: Maintenance

#832 Prime update - Red rock and miscellaneous changes + full map render
  Resources/Maps/_Harmony/prime.yml
Labels: Changes: Map, S: Needs Review

#836 Changelog20250705
  Resources/Changelog/Harmony.yml
Labels: S: Needs Review, Maintenance

#824 Adds binoculars to all Warden lockers
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Labels: S: Needs Review

#841 Bingles No Longer Announce Their Presence
  Resources/Locale/en-US/_Goobstation/bingle/bingle.ftl
  Resources/Prototypes/_Goobstation/Gamerules/bingleEvent.yml
Labels: S: Needs Review

#860 nerfs hushpup
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: S: Maintainer Approval

#911 Changelog20250728
  Resources/Changelog/Harmony.yml
Labels: S: Needs Review, Maintenance

#879 Fixes pizza bomb description
  Resources/Locale/en-US/_Harmony/store/uplink-catalog.ftl
Labels: S: Maintainer Approval

#603 Fixes missing comments in Hardsuit.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: No C#, Maintenance, S: Maintainer Approval

#923 Fix animals becoming blood brothers
  Resources/Prototypes/_Harmony/GameRules/subgamemodes.yml
Labels: S: Maintainer Approval
